.productBrand {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: normal;
    color: #333;
}

@media (min-width: 990px) {
    .productBrand {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }
}


@media (max-width: 760px) {
    .productBrand {
        font-size: 11px;
    }
    .container :global(.vtex-product-price-1-x-currencyContainer--summary) {
        font-size: 15px;
    }
    .container :global(.vtex-product-price-1-x-installments--summary) {
        font-size: 11px !important;
    }
    .container :global(.vtex-product-price-1-x-sellingPrice--summary) {
        display: flex;
        flex-direction: column;
    }
}

.container :global(.vtex-stack-layout-0-x-stackContainer) {
    z-index: 1;
}

.container {
    max-width: 100% !important;
    position: relative;
}

.container--menucategory {
    max-width: 150px !important;
    margin-right: 30px;
}

.container--menucategory .productBrand {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #222222;
    font-family: 'Larsseit Bold';
    text-transform: none;
}

.container--menucategory .imageContainer {
    max-width: 130px;
}

.container--menucategory:hover .productBrand {
    text-decoration: underline;
}

.container--menucategory .productBrand {
    text-transform: uppercase;
}

.container--menucategory .nameContainer {
    padding-top: 5px;
}

.containerNormal--summary-modal :global(.vtex-product-price-1-x-sellingPrice--summary) {
    display: block;
    text-align: left;
}

.containerNormal--summary-modal :global(.vtex-product-price-1-x-sellingPrice--summary) :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
    border-radius: 3px;
    border: 2px solid var(--45-eb-85-boto-compra, #45EB85);
    padding: 2px 5px;
    font-family: Inter;
}

.containerNormal--summary-modal :global(.vtex-product-summary-2-x-brandName) {
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 1.4px;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    display: block;
    font-family: Inter;
}
.nameContainer {
    padding-bottom: 0;
    justify-content: flex-start;
    text-align: left;
    padding-top: 10px;
}

.container :global(.vtex-similar-products-variants-0-x-title) {
    display: none;
}
.container :global(.vtex-similar-products-variants-0-x-var-wrap) {
    margin-top: 0;
    justify-content: flex-start;
}
.container :global(.vtex-product-price-1-x-sellingPrice--summary) {
    text-align: left;
}
.container :global(.vtex-product-price-1-x-installments--summary) {
    text-align: left;
    font-size: 13px;
}
.container :global(.vtex-product-price-1-x-currencyContainer--summary) {
    font-size: 17px;
}


.containerNormal--summary-modal :global(.vtex-product-summary-2-x-nameContainer) {
    padding-bottom: 15px;
}

.containerNormal--summary-modal :global(.vtex-button) {
    background: #45EB85;
    text-align: center;
    height: 40px;
    border: none;
    border-radius: 0px;
}

.containerNormal--summary-modal :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color: black;
    text-transform: uppercase;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-size: 14px;
}

.imageNormal {
    transition: all .3s ease;
    height: auto !important;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer) .imageNormal {
    max-width: 90% !important;
}

@media(max-width: 768px) {
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer) .imageNormal {
        max-width: 88% !important;
    }
}