.container .label {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #222222;
    text-transform: none;
    font-family: 'Larsseit Medium';
    display: flex;
    align-items: center;
    gap: 4px;
}

.container .label:hover {
    text-decoration: underline;
}

.container .label:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('assets/img/user-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.accessCodeOptionBtn :global(.vtex-button) {
    background: #222;
    color: white;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.6px;
    border: none;
}

.content :global(.vtex-input-prefix__group) {
    border-width: 1px;
    border-radius: 0px;
    border-color: #ACACAC;
}

.content :global(.vtex-button) {
    border-radius: 3px;
    height: 37px;
}

.content :global(.vtex-button) :global(.vtex-button__label) :global(.t-small) {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-family: 'Inter';
    font-weight: 800;
}

.formLinkContainer {
    justify-content: center;
}

.forgotPasswordLink {
    font-size: 11px;
    color: #222;
}

.formTitle {
    color: #222;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
}

.contentContainer {
    box-shadow: none;
}

.arrowUp {
    display: none;
}

.box {
    border-radius: 10px;
    border: 1px solid #EEE;
    right: -215px !important;
}

.emailPasswordOptionBtn :global(.vtex-button) {
    border-radius: 3px;
    background: #DB3D68;
    border: none;
}

.emailPasswordOptionBtn :global(.vtex-button) :global(.vtex-button__label) {
    text-transform: uppercase;
    font-size: 12px; 
    letter-spacing: 0.6px;
    color: white;
    font-family: 'Inter';
    font-weight: 800;
}


.buttonSocial :global(.vtex-button) {
    border: none;
    height: auto;
}
 
.buttonSocial :global(.vtex-button__label) {
    border: 1px solid #db3d68;
    height: 40px;
    border-radius: 4px;
} 

.optionsListItem:first-child {
    display: block;
    width: 100%;
    text-align: center;
}

.content{
    gap: 0px 40px;
} 

.optionsListItem:first-child:after {
    content: 'Entrar com';
    display: block;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 10px;
    color: #222;
    margin-top: 25px; 
}


.profile{
    font-size: 14px;
    letter-spacing: .03em;
    color: #222;
    text-transform: none;
    font-family: Larsseit Medium; 
    gap: 4px;
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
}

.profile:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('assets/img/user-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}