:global(.vtex-product-summary-2-x-container) .sellingPrice--summary .sellingPriceValue--summary {
    font-size: 24px;
    color: #000;
    font-family: 'Larsseit Extra Bold';
}

:global(.vtex-flex-layout-0-x-flexRow--product-main) .sellingPrice--summary .sellingPriceValue--summary {
    font-family: 'Larsseit Medium';
    font-size: 23px;
    color: #db3d68;
    text-align: center;
    display: block;
}

.listPrice .listPriceValue--summary {
    color: #757575;
    font-size: 15px;
    font-family: 'Larsseit Medium';
    text-align: center;
    display: block;
    line-height: normal;
}

.listPrice .listPriceValue--summary .currencyContainer--summary {
    font-size: 15px;
    margin-right: 10px;
    margin-top: 5px;
    display: block;
}

.listPrice .listPriceValue--summary .currencyContainer--summary::after {
    content: '-';
    margin-left: 5px;
    margin-right: -5px;
    color: #000;
}

@media(max-width: 760px) {
    .listPrice .listPriceValue--summary .currencyContainer--summary::after {
        margin-right: 0;
    }
    .listPrice .listPriceValue--summary .currencyContainer--summary {
        font-size: 13px;
        margin-right: 5px;
        margin-top: 7px;
        display: block;
    }
    .installmentValue--summary .currencyContainer--summary {
        font-size: 11px !important;
    }
}

.installmentValue--summary .currencyContainer--summary {
    font-size: 13px !important;
}

.savings--savingPercentage {
    font-size: 14px;
    background: #000;
    color: #fff;
    border: 1px solid #222;
    border-radius: 3px;
    height: 21px;
    text-transform: lowercase;
    line-height: 15px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    font-family: 'Larsseit Bold';
    position: relative;
}

.savings--savingPercentage::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -4px;
    background: #000;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
    top: 47%;
    font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-main) .savings--savingPercentage{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.installments--summary {
    color: #757575;
    font-size: 15px;
    font-family: 'Larsseit Thin';
    display: block;
    text-align: center;
    margin-top: 4px;
}

.sellingPrice--summary::after {
  content: "5% de desconto no PIX";
  display: flex;
  justify-content: center;
  font-family: Larsseit Medium;
  font-size: 14px;
}
