.stackItem--flags-summary {
    right: 0px;
    left: unset;
    z-index: 999!important;
}

@media (min-width: 990px) {
    .stackItem--flags-not-desktop{
        display: none;
    }
}

@media (max-width: 760px) {
    .stackItem--flags-summary {
        top: 25px;
    }
}