@media (max-width: 760px) {
    .sliderTrack--shelf-vitrine-categoria {
        gap: 5px !important;
    }
    .sliderTrack--shelf-vitrine-categoria .slide--shelf-vitrine-categoria {
        width: 49% !important;
    }
}

@media (min-width: 1921px) {
    .sliderTrack--shelf-vitrine-categoria :global(.vtex-product-summary-2-x-element) {
        height: 485px;
    }
}
@media (max-width: 1920px) {
    .sliderTrack--shelf-vitrine-categoria :global(.vtex-product-summary-2-x-element) {
        height: auto;
    }
}
@media (min-width: 1200px) and (max-width: 1919px) {
    .sliderTrack--shelf-vitrine-categoria :global(.vtex-product-summary-2-x-element) {
        height: auto;
    }
}
@media (max-width: 760px) {
    .sliderTrack--shelf-vitrine-categoria :global(.vtex-product-summary-2-x-element) {
        height: auto;
    }
}

.sliderTrack--shelf-vitrine-categoria :global(.vtex-stack-layout-0-x-stackItem--add-wishlist-summary) {
    top: -4%;
}

.sliderTrack--shelf-vitrine-categoria :global(.vtex-flex-layout-0-x-flexCol--flags-desktop) {
    bottom: 50px;
}

.sliderTrack--shelf-vitrine-categoria :global(.vtex-product-summary-2-x-element) {
    justify-content: center;
}

.sliderLayoutContainer--shelf-vitrine-categoria {
    padding: 0 !important;
}
.sliderTrack--shelf-vitrine-categoria {
    flex-wrap: wrap;
    gap: 15px;
}
.slide--shelf-vitrine-categoria {
    width: 32% !important;
}

.slide--shelf-vitrine-categoria :global(.vtex-product-summary-2-x-imageNormal){
    max-width: 320px !important;
}

.paginationDotsContainer .paginationDot--isActive {
    background: black;
}

.paginationDot {
    width: 15px !important;
    height: 15px !important;
    border: 1px solid #000;
    background: white;
}

.paginationDotsContainer {
    bottom: 15px;
}

.sliderArrows--shelf {
    width: 40px;
    height: 40px;
    background: black !important;
    border-radius: 40px;
}

.sliderArrows--shelf .caretIcon--shelf {
    color: white;
    width: 18px;
    height: 18px;
}

.slide--shelf {
    padding: 0 8px;
}

.sliderLayoutContainer--full-banner {
    line-height: 0px;
}

.sliderLayoutContainer--fall-winter__showcase-banner{
    max-width: 700px;    
    margin: auto;
    margin-top: 100px;
}

.sliderLayoutContainer--fall-winter__showcase-banner :global(.vtex-product-summary-2-x-containerNormal){
    max-width: 300px !important;
}

.sliderLayoutContainer--fall-winter__showcase-banner :global(.vtex-flex-layout-0-x-flexCol--similar-summary){
    display: none;
}
.sliderLayoutContainer--fall-winter__showcase-banner :global(.vtex-product-summary-2-x-nameContainer ){
    display: none;
}
.sliderLayoutContainer--fall-winter__showcase-banner :global(.vtex-flex-layout-0-x-flexCol--prices-vitrine ){
    display: none;
}
.sliderLayoutContainer--fall-winter__showcase-banner :global(.vtex-product-price-1-x-installments ){
    display: none;
}
.sliderLayoutContainer--fall-winter__showcase-banner :global(.vtex-product-price-1-x-savings--savingPercentage ){
    display: none;
}

.caretIcon--fall-winter__showcase-banner{
    display: none;
}

.sliderLeftArrow--fall-winter__showcase-banner::before{
    content: url('assets/img/lp-outono/seta.png');
}
.sliderRightArrow--fall-winter__showcase-banner::before{
    content: url('assets/img/lp-outono/seta.png');
    rotate: 180deg;
}

@media(max-width: 768px) {
    .sliderRightArrow--fall-winter__showcase-banner::before{     
            scale: 0.7;
    }
    .sliderLeftArrow--fall-winter__showcase-banner::before{
            scale: 0.7;
    }
    .sliderRightArrow--shelf {
        right: -12px;
    }

    .sliderLeftArrow--shelf {
        left: -12px;
    }

    .sliderLayoutContainer--fall-winter__showcase-banner{       
        margin-top: 0px;
    }
}