.wishlistIconContainer .outline {
    background-image: url(https://dakota.vtexassets.com/assets/vtex.file-manager-graphql/images/d85cedef-97d1-4fc7-9810-46c7f0779591___7d83318e96371b50dfc4e3db5f90c1a9.png) !important;
}
@media (max-width: 760px) {
    .wishlistIcon {
        width: 15px !important;
        height: 15px !important;
    }
}
@media (min-width: 990px) {
    .wishlistIcon {
        width: 24px;
        height: 24px;
    }
}

.wishlistIcon{
    content: "";
    display: block;
    background-color: transparent;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat; 
}
