.stackItem--add-wishlist-summary {
    right: 0;
    left: auto;
    opacity: 0;
    z-index: 999 !important;
}

.stackItem--add-wishlist-summary :global(.vtex-button__label) {
    padding: 0 !important;
}

.stackItem--flags-summary {
    right: 0px;
    left: unset;
    z-index: 999!important;
}

@media (min-width: 990px) {
    .stackItem--flags-not-desktop{
        display: none;
    }
}

@media (max-width: 760px) {
    .stackItem--flags-summary {
        top: 30px;
    }
    .stackItem--add-wishlist-summary {
        opacity: 1 !important;
    }
}