.container {
    max-width: 1200px;
}

.container:global(.vtex-search-result-3-x-searchResultContainer) {
    max-width: 100%;
    padding: 0px;
    background-color: rgba(246, 246, 246, 1);
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-full) {
    max-width: 95%;
    margin: auto;
    width: 100%;
}

@media (min-width: 990px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--content-search) {
        max-width: 100%;
    }
}

.resultsItemImage {
    display: none;
}

.sizeDesktop.logoContainer,
.sizeMobile.logoContainer {
    max-width: 100%;
    max-height: 100%;
    min-width: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: block;
}

.searchBarContainer {
    max-width: 100%;
    width: 520px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    height: 44px;
    color: rgb(121, 119, 119);
    background-color: rgb(246, 246, 246);
    border: none;
    border-radius: 0px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input),
.searchBarContainer :global(.vtex-input__suffix) {
    color: rgb(121, 119, 119);
    background-color: rgb(246, 246, 246);
}

.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
    font-size: 13.12px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
    font-size: 16px;
}

.searchBarIcon {
    padding: 0;
    color: rgb(219, 61, 104);
}

.imageElement--full {
    width: 100%;
}

.imageElementLink--whats-flutuante {
    display: block;
    right: 0;
    padding: 25px;
    position: fixed;
    transition: all .5s linear;
    text-align: center;
    z-index: 99;
    bottom: 70px !important;
}

.imageElementLink--redes-sociais {
    border-radius: 50px;
    background-color: #000;
    display: flex;
    width: 35px !important;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.productNameContainer .productBrand {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000;
    font-family: 'Larsseit Extra Bold';
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

.skuSelectorItemTextValue {
    font-size: 18px;
    font-family: 'Larsseit Bold';
    color: black;
    padding: 6px 10px;
}

.skuSelectorInternalBox {
    border: 1.5px solid #222222;
    border-radius: 3px;
}

.skuSelectorInternalBox:hover {
    border: 1.5px solid #222222;
}

.skuSelectorItem .frameAround {
    display: none;
}

.skuSelectorItem--selected .skuSelectorInternalBox {
    border: #db3d68;
    background: #db3d68;
}

.skuSelectorItem--selected .skuSelectorInternalBox .skuSelectorItemTextValue {
    color: white;
}

.skuSelectorItem.unavailable .skuSelectorInternalBox {
    border-color: #eee;
}

.skuSelectorItem.unavailable .skuSelectorInternalBox .skuSelectorItemTextValue {
    color: #eee;
}

.diagonalCross {
    background-image: linear-gradient(to top right, transparent 48%, #eee 48%, currentColor 48%, currentColor 52%, transparent 52%);
}

.skuSelectorSubcontainer--numeracao .skuSelectorName {
    font-size: 0px;
}

.skuSelectorSubcontainer--numeracao .skuSelectorName::after {
    content: 'Selecione o tamanho:';
    display: block;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-family: 'Larsseit Medium';
    letter-spacing: 1px;
}

.skuSelectorOptionsList {
    justify-content: center;
}

.productDescriptionContainer .productDescriptionText {
    line-height: 20px;
    font-size: 16px;
    color: #222222;
    font-family: 'Larsseit Regular' !important;
}

.productImagesGallerySwiperContainer .swiperBullet {
    height: 5px;
    width: 5px;
    border: 1px solid #707070;
    background: #fff;
}

.productImagesGallerySwiperContainer .swiperBullet--active {
    background: #707070;
}

.shippingContainer :global(.vtex-input__label) {
    font-size: 0;
}

.shippingContainer {
    position: relative;
}


.shippingContainer :global(.vtex-input-prefix__group) :global(.vtex-address-form-4-x-input),
.shippingContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
    background: #FFF;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    color: #989898;
    font-size: 16px;
}

.shippingContainer :global(.vtex-input-prefix__group) {
    height: 45px;
    border: 1.5px solid #EEEEEE;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #989898;
    width: calc(100% - 88px);
}

.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
    display: none;
}

.shippingContainer :global(.vtex-button) {
    width: 80px;
    position: absolute;
    top: 25px;
    right: 0px;
    height: 44px;
    background: #222222;
    border: 1.5px solid #000000;
    border-radius: 3px;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
    margin: 0;
    padding: 0;
}

.shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 0;
    color: white;
}

.shippingContainer :global(.vtex-button) :global(.vtex-button__label)::after {
    content: 'OK';
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 900;
}

.shippingContainer :global(.vtex__icon-external-link) {
    display: none;
}


.shippingContainer :global(.vtex-input__label) {
    display: flex;
    align-items: center;
    gap: 3px;
}

.shippingContainer :global(.vtex-input__label)::after {
    content: 'Simule frete e prazo';
    font-size: 14px;
    display: block;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Larsseit Medium';
    letter-spacing: 0.05em;
    margin-left: 8px;
}

.shippingTable .shippingTableRow {
    padding: 12px 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    position: relative;
}

.shippingTable .shippingTableRow .shippingTableLabel {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0px;
    color: #111110;
}

.shippingTable .shippingTableRow .shippingTableCellDeliveryName {
    padding: 0px;
}


.shippingTable .shippingTableRow .shippingTableCellDeliveryPrice {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: black;
    padding: 0px;
}

.shippingTable .shippingTableRow .shippingTableCellDeliveryEstimate {
    color: #585858;
    font-size: 14px;
    padding-left: 28px;
}

.shippingTable {
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 5px;
}

.shippingTableRadioBtn {
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
}

.shippingTable .shippingTableRow .shippingTableCellDeliveryPrice {
    position: absolute;
    right: 0;
    bottom: 0px;
    top: 0px;
    margin: auto;
    height: 20px;
}

.highQualityProductImageImgElement {
    max-width: 600px;
}

.highQualityContainer {
    display: flex;
    justify-content: center;
    cursor: crosshair;
    align-items: center;
}

.productImage {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.subscriberContainer .content {
    display: block;
}

.subscriberContainer .content :global(.vtex-styleguide-9-x-input) {
    border-radius: 2px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
    color: #333;
    display: block;
    font-size: .875rem;
    padding: .5em;
    width: 100%;
    height: 2.5em;
}

.subscriberContainer .content :global(.vtex-styleguide-9-x-input)::placeholder {
    color: black;
    text-transform: uppercase;
}

.subscriberContainer .content :global(.vtex-input-prefix__group) {
    border: none;
}

.subscriberContainer :global(.vtex-store-components-3-x-submit) {
    justify-content: center;
}

.subscriberContainer :global(.vtex-store-components-3-x-submit) :global(.vtex-button) {
    font-size: 18px;
    font-family: 'Larsseit Bold';
    border: none;
    background-color: #fd8a10;
    padding: 5px 35px 5px 35px;
    border-radius: 0;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
    margin: auto;
    display: block;
    color: white;
}

.subscriberContainer .submit::before {
    content: 'Ao clicar no botão "Enviar", eu confirmo ter mais de 18 anos e concordo em receber notícias sobre os produtos e serviços empresa Dakota Calçados, incluindo as marcas Dakota, Tanara, Mississipi, Campesi, Kolosh e Pink Cats.';
    display: block;
    text-align: left;
    font-size: 11px;
    color: #555;
    line-height: 15px;
    margin-bottom: 15px;
}

.subscriberContainer {
    max-width: 380px;
}

.subscriberContainer .success {
    text-align: center;
    font-family: 'Larsseit Medium';
}

.subscriberContainer .submit {
    display: block;
}

.subscriberContainer .title,
.subscriberContainer .subscribeLabel {
    display: none;
}

.shippingTableBody::before {
    content: 'Prazo de entrega a partir da data de envio';
    display: block;
    color: black;
    font-family: 'Larsseit Medium';
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.imageElementLink--full-banner {
    width: 100%;
}

@media(max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .shippingContainer {
        margin: 0px 15px;
    }

    .imageElementLink--whats-flutuante {
        padding: 0px;
        bottom: 90px !important;
        right: 10px;
    }
}

@media (max-width: 768px){
  .imageElement--spring-summer--fullbanner {
    width: 100%;
  }
}


.imageElement--main-banner-passo-certo,.imageElement--banner-footer-passo-certo{
    display: flex;
}

.imageElement--palmilha-scraptech{
    max-width: 300px;
    object-fit: fill;
    aspect-ratio: 1/1;
}

.imageElement--tecido-fio-pet-1{
    position: absolute;
    max-width: 750px;
    bottom: -70px;
    right: 80px;
}

.imageElement--tecido-fio-pet-2{
    position: absolute;
    max-width: 750px;
    top: -65px;
    left: -235px;
}

.imageElement--tecido-fio-pet-3{
    position: absolute;
    max-width: 750px;
    top: -90px;
}

@media screen and (max-width:1024px){
    .imageElement--tecido-fio-pet-1{
        max-width: 350px;
        bottom: unset;
        right: -25%;
    }
}