.container--diferencial {
    justify-content: center;
}
.paragraph--diferencial {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    gap: 4px;
}
.paragraph--diferencial1::before {
    content: url('assets/svg/Package-dif.svg');
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.paragraph--diferencial2::before {
    content: url('assets/svg/Diamond-dif.svg');
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.paragraph--diferencial3::before {
    content: url('assets/svg/CreditCard-dif.svg');
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.paragraph--diferencial4::before {
    content: url('assets/svg/Swap-dif.svg');
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
}

.paragraph--margin-0 {
    margin: 0;
}

.headingLevel2--page-empresa {
    color: #ed0f73;
    font-size: 36px;
    font-family: 'Larsseit Extra Bold';
    letter-spacing: 0.05em;
}

.paragraph--page-empresa {
    font-size: 18px;
    line-height: 18pt;
    color: black;
}

.heading--title-central-de-atendimento {
    font-size: 30px;
    color: black;
}

.paragraph--title-central-de-atendimento {
    margin: 0;
    font-size: 21px;
    color: black;
}

.container--title-page .paragraph {
    margin: 0;
}

.container--title-page .heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000;
}

.container--title-page .paragraph--title-page {
    color: #555;
    font-size: 21px;
    font-style: italic;
}

.link--copyright {
    background-color: #000000;
    border: none;
    color: #DB3D68;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 4px;
    padding: 2px 10px;
    border-radius: 14px;
}

.paragraph--footer-seguranca {
    font-size: .75rem;
    line-height: 15px;
    font-family: 'Larsseit Medium';
    height: 40px;
}

.paragraph--title-da-pagina {
    display: none;
}

.paragraph--meta-description {
    display: none;
}

.paragraph--texto-home {
    font-size: 14px;
    margin: .55em 0;
}

.paragraph--texto-home .strong--texto-home {
    color: #db3d68;
}

.heading--texto-home {
    margin: 15px auto;
    font-size: 14px;
}

.paragraph--newsletter-text-privacidade {
    font-size: .875rem;
}

.link--newsletter-text-privacidade {
    color: white;
    font-family: 'Larsseit Bold';
    text-decoration: underline;
}

.heading--loja-fisicas-title {
    letter-spacing: 1px;
    font-size: 1.625rem;
    margin: 0;
    color: #000;
}

.paragraph--loja-fisicas-title {
    font-size: 20px;
    color: #000;
}

.paragraph--loja-fisicas-title .link--loja-fisicas-title {
    text-decoration: underline;
    color: #000;
}

.heading--text-newsletter {
    letter-spacing: 6px;
    font-size: 18px;
    font-family: 'Larsseit Extra Bold';
    display: flex;
    align-items: center;
    gap: 10px;
}

.heading--text-newsletter::before {
    content: '';
    display: block;
    width: 38px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 299 125' style='enable-background:new 0 0 299 125;' xml:space='preserve'%3e%3cg%3e%3cpath fill='' d='M144,0h132c13,0,23,10,23,23v79c0,13-10,23-23,23H144c-12,0-22-10-22-23V23C122,10,132,0,144,0z M132,107l35-35 c4-4,11,3,7,7l-35,35c2,1,3,1,5,1h132c2,0,4,0,5-1l-34-35c-5-4,2-11,7-7l34,35c0-1,1-3,1-5V23l-60,50c-11,9-27,8-37,0l-60-50v79 C132,104,132,106,132,107z M136,13l62,52c7,5,17,5,24,0l63-52c-3-2-6-3-9-3H144C141,10,138,11,136,13z'%3e%3c/path%3e%3cpath d='M49,95c-6,0-6,9,0,9h53c6,0,6-9,0-9H49z'%3e%3c/path%3e%3cpath d='M53,69c-6,0-6,9,0,9h49c6,0,6-9,0-9H53z'%3e%3c/path%3e%3cpath d='M35,78c6,0,6-9,0-9H23c-6,0-6,9,0,9H35z'%3e%3c/path%3e%3cpath d='M4,47c-5,0-5,9,0,9h98c6,0,6-9,0-9H4z'%3e%3c/path%3e%3cpath d='M43,21c-6,0-6,9,0,9h11c6,0,6-9,0-9H43z'%3e%3c/path%3e%3cpath d='M102,30c6,0,6-9,0-9H70c-6,0-6,9,0,9H102z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
}

.paragraph--topo-flutuante::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.paragraph--topo-flutuante {
    font-size: 14px;
    letter-spacing: 0.2px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.paragraph--topo-flutuante-01::before {
    width: 26px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='21.454' height='14.673' viewBox='0 0 21.454 14.673'%3e%3cg transform='translate(0)'%3e%3cpath d='M1051.051,638.373h-1.988a.467.467,0,1,1,0-.934h1.988a3.367,3.367,0,0,0,2.4-.993l4.65-4.65a2.012,2.012,0,0,1,2.841,0l4.633,4.633a3.366,3.366,0,0,0,2.4.993h1.616a.467.467,0,0,1,0,.934h-1.616a4.294,4.294,0,0,1-3.057-1.266l-4.633-4.633a1.077,1.077,0,0,0-1.521,0l-4.65,4.65A4.294,4.294,0,0,1,1051.051,638.373Zm8.467-7.509a2,2,0,0,1-1.421-.589l-4.65-4.65a3.367,3.367,0,0,0-2.4-.993h-1.988a.467.467,0,0,1,0-.934h1.988a4.294,4.294,0,0,1,3.057,1.266l4.65,4.65a1.075,1.075,0,0,0,1.521,0l4.633-4.633a4.294,4.294,0,0,1,3.057-1.266h1.616a.467.467,0,0,1,0,.934h-1.616a3.366,3.366,0,0,0-2.4.992l-4.633,4.633A2,2,0,0,1,1059.517,630.865Z' transform='translate(-1048.596 -623.7)' fill='%23fff'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
}

.paragraph--topo-flutuante-02::before {
    width: 21px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='26.51' height='17.84' viewBox='0 0 26.51 17.84'%3e%3cpath id='Caminho_52' data-name='Caminho 52' d='M192.282,685.573l-3.2-5.127a2.335,2.335,0,0,0-1.992-1.1h-3.235v-1.868a1.392,1.392,0,0,0-1.391-1.391H167.52a1.392,1.392,0,0,0-1.391,1.391V690.1a1.455,1.455,0,0,0,1.454,1.454h1.8a2.847,2.847,0,0,0,5.614,0h9.607a2.847,2.847,0,0,0,5.614,0h.87A1.547,1.547,0,0,0,192.639,690v-3.187A2.345,2.345,0,0,0,192.282,685.573Zm-1.342-.363h-4.71v-2.82h2.95ZM167.075,690.1V677.474a.445.445,0,0,1,.445-.445h14.945a.445.445,0,0,1,.445.445v.974H171.4a.473.473,0,0,0,0,.946h11.514v1.218h-8.294a.473.473,0,1,0,0,.946h8.294v7.287h-4.983a.473.473,0,0,0,0,.946h4.983v.812H175c0-.021-.008-.041-.012-.062s-.006-.034-.01-.05-.014-.063-.022-.094c0-.012-.006-.025-.009-.037q-.017-.065-.037-.129l0-.015q-.018-.056-.038-.111l-.015-.04c-.011-.028-.022-.056-.033-.084l-.02-.045c-.011-.025-.022-.051-.034-.076l-.023-.046-.037-.072-.025-.046-.04-.07-.026-.044-.045-.07-.027-.04c-.017-.025-.034-.049-.052-.073l-.025-.034c-.022-.029-.045-.058-.068-.086l-.013-.016q-.042-.051-.087-.1l-.014-.015c-.025-.027-.05-.054-.076-.08l-.03-.029-.065-.062-.036-.032-.063-.054-.039-.032-.063-.05-.041-.031-.066-.047-.042-.029-.07-.045-.041-.026-.078-.045-.036-.02-.105-.054-.012-.006q-.06-.029-.121-.055l-.032-.013-.091-.036-.046-.016-.08-.027-.051-.015-.077-.022-.054-.014-.077-.018-.055-.011-.079-.014-.055-.009-.083-.01-.053-.006-.092-.007-.045,0c-.046,0-.093,0-.139,0s-.093,0-.139,0l-.045,0-.092.007-.053.006-.083.01-.055.009-.079.014-.055.011-.077.018-.054.014-.077.022-.052.016-.079.027-.046.016-.089.035-.034.013c-.041.017-.081.036-.121.055l-.015.007-.1.052-.038.021-.076.044-.042.026-.069.044-.043.029-.064.046-.042.032-.062.049-.04.033-.061.053-.037.033-.063.06-.031.031c-.025.025-.049.05-.073.076l-.017.018q-.044.049-.086.1l-.016.02c-.022.027-.044.055-.065.082l-.026.036-.05.07-.028.042-.044.068-.027.045-.04.069-.026.047-.036.071-.023.048c-.012.025-.023.049-.034.074l-.02.047c-.011.027-.022.055-.032.082l-.016.041c-.013.036-.025.072-.037.109l-.006.017q-.02.064-.037.129c0,.013-.006.025-.009.038-.008.031-.015.062-.021.093s-.006.034-.01.05-.008.041-.012.061h-1.8A.508.508,0,0,1,167.075,690.1Zm5.119,2.882a1.9,1.9,0,1,1,1.9-1.9A1.9,1.9,0,0,1,172.194,692.977Zm15.222,0a1.9,1.9,0,1,1,1.9-1.9A1.9,1.9,0,0,1,187.416,692.977ZM191.693,690a.6.6,0,0,1-.6.6h-.87c0-.021-.008-.041-.012-.062s-.006-.034-.01-.05-.014-.063-.022-.094l-.009-.037q-.017-.065-.037-.129l0-.015q-.018-.056-.038-.111l-.015-.04c-.011-.028-.022-.056-.033-.084l-.02-.045c-.011-.025-.022-.051-.034-.076l-.023-.046c-.012-.024-.024-.048-.037-.072l-.025-.046-.04-.07-.026-.044-.045-.07-.027-.04-.052-.073-.025-.034c-.022-.029-.045-.058-.068-.086l-.013-.016q-.042-.051-.087-.1l-.014-.015c-.025-.027-.05-.054-.076-.08l-.03-.029-.065-.062-.036-.032-.063-.054-.039-.032-.063-.05-.041-.031-.066-.047-.042-.029-.07-.045-.041-.026-.078-.045-.036-.02-.105-.054-.012-.006q-.06-.029-.121-.055l-.032-.013-.091-.036-.046-.016-.08-.027-.051-.015-.077-.022-.054-.014-.077-.018-.055-.011-.079-.014-.055-.009-.083-.01-.053-.006-.092-.007-.045,0c-.046,0-.093,0-.139,0s-.093,0-.139,0l-.045,0-.092.007-.053.006-.083.01-.055.009-.079.014-.055.011-.077.018-.054.014-.077.022-.051.016-.079.027-.046.016-.09.036-.033.013q-.061.026-.121.055l-.013.007-.1.053-.037.021-.077.044-.042.026-.069.044-.043.029-.065.046-.042.031-.063.049-.04.033-.062.054-.036.032-.064.061-.03.03c-.025.026-.05.052-.075.078l-.015.016q-.044.049-.087.1l-.014.018q-.034.042-.067.085l-.025.035-.051.072-.027.041-.045.069-.027.044-.04.07-.025.046-.037.072-.023.046c-.012.025-.023.05-.034.076l-.02.045c-.012.028-.022.056-.033.083l-.015.04c-.013.037-.026.074-.038.111l0,.015q-.02.064-.037.129c0,.012-.006.025-.009.037-.008.031-.015.062-.022.094s-.006.034-.01.05-.008.041-.012.062h-.753V680.288h3.235a1.394,1.394,0,0,1,1.19.66l.31.5h-2.832a.473.473,0,0,0-.473.473v3.766a.473.473,0,0,0,.473.473h5.77a1.4,1.4,0,0,1,.166.661Z' transform='translate(-166.129 -676.083)' fill='%23fff'%3e%3c/path%3e%3c/svg%3e");
}

.paragraph--topo-flutuante-03::before {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' fill='white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M458.667,85.333H53.333C23.936,85.333,0,109.269,0,138.667v234.667c0,29.397,23.936,53.333,53.333,53.333h405.333 c29.397,0,53.333-23.936,53.333-53.333V138.667C512,109.269,488.064,85.333,458.667,85.333z M490.667,373.333 c0,17.643-14.357,32-32,32H53.333c-17.643,0-32-14.357-32-32V138.667c0-17.643,14.357-32,32-32h405.333c17.643,0,32,14.357,32,32 V373.333z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M501.333,149.333H10.667C4.779,149.333,0,154.112,0,160v64c0,5.888,4.779,10.667,10.667,10.667h490.667 c5.888,0,10.667-4.779,10.667-10.667v-64C512,154.112,507.221,149.333,501.333,149.333z M490.667,213.333H21.333v-42.667h469.333 V213.333z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M202.667,298.667h-128c-5.888,0-10.667,4.779-10.667,10.667S68.779,320,74.667,320h128 c5.888,0,10.667-4.779,10.667-10.667S208.555,298.667,202.667,298.667z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M202.667,341.333h-128C68.779,341.333,64,346.112,64,352c0,5.888,4.779,10.667,10.667,10.667h128 c5.888,0,10.667-4.779,10.667-10.667C213.333,346.112,208.555,341.333,202.667,341.333z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M416,277.333h-21.333c-17.643,0-32,14.357-32,32v21.333c0,17.643,14.357,32,32,32H416c17.643,0,32-14.357,32-32v-21.333 C448,291.691,433.643,277.333,416,277.333z M426.667,330.667c0,5.888-4.779,10.667-10.667,10.667h-21.333 c-5.888,0-10.667-4.779-10.667-10.667v-21.333c0-5.888,4.779-10.667,10.667-10.667H416c5.888,0,10.667,4.779,10.667,10.667 V330.667z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.paragraph--topo-flutuante-04::before {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='20pt' viewBox='-16 -18 533.33331 533' fill='white' width='20pt' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m248.429688 25.082031c39.289062 0 78.640624 11.152344 113.800781 32.253907 22.300781 13.417968 42.339843 30.28125 59.363281 49.972656l-58.738281-1.9375c-6.898438-.230469-12.675781 5.179687-12.902344 12.082031-.226563 6.898437 5.179687 12.679687 12.082031 12.902344l81.269532 2.683593c4.667968 1.921876 10.035156.847657 13.605468-2.726562 3.566406-3.574219 4.632813-8.941406 2.703125-13.609375l-2.675781-81.25c-.15625-6.902344-5.878906-12.371094-12.78125-12.21875-6.898438.15625-12.375 5.878906-12.21875 12.777344 0 .09375 0 .179687.007812.269531l1.546876 46.875c-17.195313-18.375-36.847657-34.285156-58.398438-47.265625-39.042969-23.425781-82.84375-35.8085938-126.664062-35.8085938-70 0-134.539063 28.8632808-181.703126 81.2695308-41.78125 46.425782-66.726562 108.914063-66.726562 167.160157 0 6.902343 5.59375 12.5 12.5 12.5s12.5-5.597657 12.5-12.5c0-52.238281 22.542969-108.476563 60.308594-150.433594 42.367187-47.066406 100.292968-72.996094 163.121094-72.996094zm0 0'%3e%3c/path%3e%3cpath d='m487.5 236.011719c-6.90625 0-12.5 5.59375-12.5 12.5 0 52.234375-22.542969 108.476562-60.308594 150.4375-42.367187 47.066406-100.292968 72.988281-163.121094 72.988281-39.289062 0-78.640624-11.144531-113.800781-32.246094-22.300781-13.421875-42.339843-30.285156-59.363281-49.972656l58.738281 1.9375c6.898438.222656 12.675781-5.1875 12.902344-12.085938.226563-6.898437-5.179687-12.675781-12.082031-12.90625l-81.269532-2.679687c-4.667968-1.921875-10.035156-.84375-13.605468 2.726563-3.566406 3.574218-4.632813 8.9375-2.703125 13.605468l2.675781 81.25c.15625 6.90625 5.878906 12.378906 12.78125 12.222656 6.898438-.152343 12.375-5.875 12.21875-12.777343 0-.089844 0-.175781-.007812-.269531l-1.546876-46.875c17.195313 18.378906 36.847657 34.28125 58.398438 47.269531 39.042969 23.429687 82.84375 35.808593 126.664062 35.808593 70 0 134.539063-28.859374 181.703126-81.265624 41.78125-46.429688 66.726562-108.917969 66.726562-167.167969 0-6.90625-5.59375-12.5-12.5-12.5zm0 0'%3e%3c/path%3e%3c/svg%3e");
}

:global(.vtex-flex-layout-0-x-flexRow--topo-menu-flutuante):global(.vtex-flex-layout-0-x-flexRow--desktop) .container--topo-flutuante-01,
:global(.vtex-flex-layout-0-x-flexRow--topo-menu-flutuante):global(.vtex-flex-layout-0-x-flexRow--desktop) .container--topo-flutuante-02,
:global(.vtex-flex-layout-0-x-flexRow--topo-menu-flutuante):global(.vtex-flex-layout-0-x-flexRow--desktop) .container--topo-flutuante-03 {
    border-right: 1px solid white;
}

.paragraph--compre-numeracao {
    color: #4C4C4C;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Larsseit Regular';
    margin-right: 35px;
}

.heading--title-padrao,
.paragraph--title-padrao {
    font-size: 32px;
    text-transform: uppercase;
    color: #222;
    font-family: 'Larsseit Medium';
    letter-spacing: 0.05em;
}

.strong--conteudo-blog {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 6px;
    display: block;
}

.link--conteudo-blog {
    color: #000;
    font-size: 15px;
    display: block;
    width: 100%;
}

.container--conteudo-blog {
    padding: 20px;
}

.paragraph--minicart-empty {
    font-size: 13px;
    color: #454545;
    line-height: 17px;
}

.link--minicart-empty {
    background: #000;
    border-radius: 5rem;
    color: white;
    font-size: 14px;
    display: block;
    padding: 6px 0px;
}

.container--hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.paragraph--header-departamentos {
    font-size: 14px;
    font-family: 'Larsseit Medium';
    display: block;
    margin-top: 2px;
    color: black;
}

.paragraph--beneficios {
    font-size: .875rem;
    color: #222222;
    margin: .55em 0;
    line-height: 1.3;
}

.paragraph--title-description {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #DB3D68;
    cursor: unset;
    text-transform: uppercase;
}

.paragraph--title-filter {
    font-size: 16px;
    font-family: 'Larsseit Medium';
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.paragraph--title-filter::before {
    content: '';
    display: block;
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 20' fill='none'%3e%3cpath d='M9 4H23' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M1 4H5' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M17 16H23' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M1 16H13' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M9 1V7' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M17 13V19' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
}

.heading--textoSeo {
    font-size: 20px;
    color: #444444;
    font-family: 'Larsseit Medium';
}

.paragraph--textoSeo {
    line-height: 20px;
    font-size: 14px;
    color: #555;
}

.link--textoSeo,
.strong--textoSeo {
    color: #db3d68;
    font-family: 'Larsseit Medium';
    font-weight: 700;
}

.paragraph--title-submenu {
    font-family: "Larsseit Bold";
    text-transform: uppercase;
    font-size: 14px;
    color: #222222;
    width: 100%;
}

.heading--title-login {
    color: #222;
    font-size: 24px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.paragraph--title-login {
    font-size: 14px;
    color: #222;
}

.paragraph--login-menu-mobile {
    display: flex;
    align-items: center;
    gap: 6px;
    color: black;
    font-size: 16px;
    margin: 0;
}

.image--login-menu-mobile {
    margin-right: 5px;
}

.wrapper--login-menu-mobile {
    padding-left: 15px;
    display: block;
    width: 100%;
    border-top: 1px solid #EEEEEE;
    padding-top: 20px;
}

.link--login-menu-mobile {
    color: black;
}

.paragraph--guia-tamanhos {
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222;
    margin-top: 3px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}
.paragraph--guia-tamanhos::before {
    content: '';
    background: url(https://dakota.vtexassets.com/assets/vtex.file-manager-graphql/images/f62795f0-d6f8-4401-9e4a-a07ce253cd6a___c4feeb99c0d608de714348a4ad25b39d.svg) no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    background-size: contain;
}

.paragraph--produto-indisponivel-title {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Larsseit Medium';
}

.paragraph--title-minicart-modal {
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 0.8px;
    font-size: 16px;
}

.paragraph--flag-produto-indisponivel {
    background-color: #ffeb3b;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px;
    font-family: 'Larsseit Regular';
    color: #333;
}

.paragraph--title-lp-colecao-custom,
.heading--title-lp-colecao-custom {
    font-size: 1.625rem;
    font-family: 'Larsseit Extra Bold';
    color: #333;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

@media(min-width: 769px) {
    .paragraph--copyright {
        font-size: 10px;
        color: #afafaf;
        font-family: 'Larsseit Medium';
        line-height: 20px;
    }
}

@media(max-width: 768px) {
    .paragraph--beneficios {
        text-align: left;
    }

    .heading--title-padrao,
    .paragraph--title-padrao {
        font-size: 20px;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--topo-menu) .paragraph--topo-flutuante {
        font-size: 12.5px;
        text-align: center;
    }

    .paragraph--copyright {
        font-size: 14px;
        color: #525252;
        font-family: 'Larsseit Regular';
        line-height: 24px;
    }
}


@media(max-width: 380px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--topo-menu) .paragraph--topo-flutuante {
        font-size: 10px;
    }
}

:global(.vtex-flex-layout-0-x-flexRowContent--lp__container) .paragraph .link {
    color: #db3d68;
    font-family: Larsseit Medium;
    font-weight: 700;
}

:global(.vtex-flex-layout-0-x-flexRowContent--lp__container) .paragraph .strong {
    color: #db3d68;
    font-family: Larsseit Medium;
    font-weight: 700;
}

:global(.vtex-flex-layout-0-x-flexRowContent--lp__container) .paragraph {
    line-height: 20px;
    font-size: 16px;
    color: #555;
}

:global(.vtex-flex-layout-0-x-flexRowContent--lp__container) .headingLevel2 .strong {
    color: #db3d68;
    font-family: Larsseit Medium;
    font-weight: 700;
}

.container--fall-winter__showcase-banner--right {
    max-width: 600px;
    z-index: 1;
    position: relative;

}

.container--fall-winter__showcase-banner--right .paragraph {
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 0;
    font-family: 'Averta';

}

.container--fall-winter__showcase-banner--right .heading {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Adrianna';

}

.container--fall-winter__showcase-banner--link {
    justify-content: center;
    padding-bottom: 35px;

}

.container--fall-winter__showcase-banner--link .link {
    color: #E50069;
    font-size: 20px;
    border: 1.5px solid #E50069;
    padding: 10px 88px;
    font-family: 'Adrianna';

}

.container--fall-winter__discover {
    background-color: #E50069;
    justify-content: center;
    margin: 30px 0;
}

.container--fall-winter__discover .paragraph {
    display: flex;
    gap: 50px;
    font-size: 32px;
    color: white;
    align-items: center;
    font-family: 'Adrianna';

}

.container--fall-winter__discover .paragraph .link {
    background-color: white;
    font-size: 20px;
    color: #E50069;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: 'Adrianna';

}

.container--fall-winter__categories-text .heading {
    font-size: 48px;
    font-weight: 400;
    color: #222222;
    font-family: 'Adrianna';

}

.container--fall-winter__categories-text .paragraph {
    font-size: 20px;
    color: #222222;
    font-family: 'Averta';

}

.container--fall-winter__categories-link {
    position: absolute;
    top: 20%;
    left: 50%;
    translate: -50%;
}

.container--fall-winter__categories-link .paragraph {
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-size: 56px;
    color: white;
    text-align: center;
}

.container--fall-winter__categories-link .paragraph .link {
    font-size: 24px;
    color: white;
    text-align: center;
    border: 1px solid white;
    width: 288px;
    text-transform: uppercase;
    font-family: 'Averta';

}

.container--fall-winter__video {
    justify-content: center;
    max-width: 800px;
}

.container--fall-winter__video .heading {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Adrianna';
}

.container--fall-winter__video .paragraph {
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: 'Averta';
}

.container--fall-winter__video .strong {
    margin-top: 20px;
    color: white;
    font-size: 28px;
    text-align: center;
    display: inline-block;
    font-family: 'Averta';
}

@media(max-width:768px) {

    .container--fall-winter__showcase-banner--right {

        padding: 4%;

    }

    .container--fall-winter__showcase-banner--right .paragraph {

        font-size: 14px;
        margin-bottom: 18px;

    }

    .container--fall-winter__showcase-banner--right .heading {

        font-size: 20px;
        font-weight: 400;
        margin-bottom: 12px;

    }


    .container--fall-winter__showcase-banner--link .link {

        font-size: 14px;

    }



    .container--fall-winter__discover .paragraph {

        font-size: 18px;
        gap: 16px;
        text-align: center;
        flex-direction: column;

    }

    .container--fall-winter__discover .paragraph .link {

        font-size: 14px;

    }

    .container--fall-winter__categories-text .heading {

        font-size: 20px;
        font-weight: 400;
        white-space: nowrap;
        margin-top: 0;

    }

    .container--fall-winter__categories-text .paragraph {

        font-size: 14px;

    }

    .container--fall-winter__categories-link .paragraph {

        font-size: 20px;
        gap: 40px;

    }

    .container--fall-winter__categories-link .paragraph .link {

        font-size: 12px;
        max-width: 100px;


    }

    .container--fall-winter__video {

        padding: 4%;

    }

    .container--fall-winter__video .heading {
        font-size: 20px;
        text-align: left;
        max-width: 280px;

    }

    .container--fall-winter__video .paragraph {
        font-size: 14px;
        text-align: left;

    }

    .container--fall-winter__video .strong {
        font-size: 14px;
        text-align: left;

    }
}


.container--spring-summer__showcase-banner--right {
    max-width: 600px;
    z-index: 1;
    position: relative;

}

.container--spring-summer__showcase-banner--right .paragraph {
    font-size: 25px;
    margin-bottom: 0;
    font-family: 'Atyp Display TRIAL', sans-serif;

}

.container--spring-summer__showcase-banner--right .heading {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Atyp Display TRIAL', sans-serif;
    color: #FFF;
    background: #E50069;
    padding-left: 100px;
    width: 125%;
    margin-left: -20%;
    line-height: normal;
}

.container--spring-summer__showcase-banner--link {
    justify-content: center;
    padding-bottom: 35px;

}

.container--spring-summer__showcase-banner--link .link {
    color: #E50069;
    font-size: 20px;
    border: 1.5px solid #E50069;
    padding: 10px 88px;
    font-family: 'Adrianna';

}

.container--spring-summer__discover {
    background-image: url('assets/img/lp-primavera-verao-2025/bg-miolo-desktop.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 30px 0;
}

.container--spring-summer__discover .paragraph {
    display: flex;
    gap: 50px;
    align-items: center;
    color: white;
    font-family: Atyp Display TRIAL, sans-serif;
  font-weight: 500;
  font-style: Regular;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;


}

.container--spring-summer__discover .paragraph .link {
    background-color: white;
    color: #E50069;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    text-transform: uppercase;
    height: 40px;
    font-family: Atyp Display TRIAL, sans-serif;
    font-weight: 500;
    font-style: Regular;
    font-size: 20px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.container--spring-summer__categories-text .heading {
    color: #FF006C;
    font-family: 'Atyp Display TRIAL', sans-serif;
    font-weight: 600;
    font-size: 45px;
    leading-trim: NONE;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    height: 78px;
}

.paragraph--spring-summer__categories-text-card {
  margin: 0;
}

.container--spring-summer__categories-text .paragraph {
    font-size: 26px;
    color: #222222;
    font-family: 'Atyp Display TRIAL', sans-serif;
    margin: 0;
}

.container--spring-summer__categories-link {
    position: absolute;
    top: 20%;
    left: 50%;
    translate: -50%;
}

.container--spring-summer__categories-link .paragraph {
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-size: 56px;
    text-align: center;
}

.container--spring-summer__categories-link .paragraph .link {
    font-size: 24px;
    text-align: center;
    border: 1px solid white;
    width: 288px;
    text-transform: uppercase;
    font-family: 'Averta';

}

.container--spring-summer__video {
    justify-content: center;
    max-width: 800px;
}

.container--spring-summer__video .heading {
    text-align: center;
    color: #fff;
    font-family: Atyp Display TRIAL, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
  text-align: left;
}

.container--spring-summer__video .paragraph {
    text-align: center;
    font-family: Atyp Display TRIAL, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    leading-trim: CAP_HEIGHT;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    color: #FFF;
}

.container--spring-summer__video .strong {
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    display: inline-block;
    font-family: 'Averta';
}

.spring-summer__categories-text {
    padding-left: 4%;
}

.link--spring-summer__categories-text-card {
    font-family: Atyp Display TRIAL, sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 58px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-transform: uppercase;
    color: #FF006C;
}

.container--spring-summer__categories-text-card {
    justify-content: center;
}

@media(max-width:768px) {

    .container--spring-summer__showcase-banner--right {
        padding: 4%;
    }

    .container--spring-summer__showcase-banner--right .paragraph {
        font-size: 14px;
        margin-bottom: 18px;
        padding: 0 14px;
    }

    .container--spring-summer__showcase-banner--right .heading {

        font-size: 20px;
        font-weight: 400;
        margin-bottom: 12px;
    }


    .container--spring-summer__showcase-banner--link .link {

        font-size: 14px;

    }



    .container--spring-summer__discover .paragraph {

        font-size: 18px;
        gap: 16px;
        text-align: center;
        flex-direction: column;

    }

    .container--spring-summer__discover .paragraph .link {

        font-size: 14px;

    }

    .container--spring-summer__categories-text .heading {

        font-size: 20px;
        font-weight: 400;
        white-space: nowrap;
        margin-top: 0;

    }

    .container--spring-summer__categories-text .paragraph {

        font-size: 14px;

    }

    .container--spring-summer__categories-link .paragraph {

        font-size: 20px;
        gap: 40px;

    }

    .container--spring-summer__categories-link .paragraph .link {

        font-size: 12px;
        max-width: 100px;


    }

    .container--spring-summer__video {

        padding: 4%;

    }

    .container--spring-summer__video .heading {
        font-size: 20px;
        text-align: left;
        max-width: 280px;

    }

    .container--spring-summer__video .paragraph {
        font-size: 14px;
        text-align: left;

    }

    .container--spring-summer__video .strong {
        font-size: 14px;
        text-align: left;

    }
}

.wrapper--spring-summer__video {
  padding: 20px 50px;
}

@media (min-width: 1300px) and (max-width: 1700px){
  .container--spring-summer__categories-text .heading {
    font-size: 36px;
  }
}
@media (min-width: 1100px) and (max-width: 1299px){
  .container--spring-summer__categories-text .heading {
    font-size: 32px;
  }
  .container--spring-summer__categories-text .paragraph {
    font-size: 26px;
  }
}
@media (min-width: 768px) and (max-width: 1099px){
  .container--spring-summer__categories-text .heading {
    font-size: 28px;
  }
  .container--spring-summer__categories-text .paragraph {
    font-size: 22px;
  }
}

@media (max-width: 768px){
  .container--spring-summer__showcase-banner--right .heading {
    width: 100%;
    padding: 5px 10px;
    margin-left: -14px;
    font-size: 20px;
    padding-left: 27px;
  }

  .container--spring-summer__showcase-banner--link {
      border-bottom: 4px solid #E50069;
  }
  .container--spring-summer__discover {
    background-image: url('assets/img/lp-primavera-verao-2025/bg-miolo-mobile.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 15px 0;
    height: 116px;
    display: flex;
    align-items: center;
  }

  .container--spring-summer__discover .paragraph {
      font-family: Atyp Display TRIAL, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      gap: 5px;
      width: 70%;
      margin: 0 auto;
  }

  .container--spring-summer__discover .paragraph .link {
      height: 24px;
  }
  .container--spring-summer__categories-text .heading {
    height: fit-content;
    font-weight: 600;
    font-size: 24px;
  }

  .container--spring-summer__categories-text .paragraph {
      margin-bottom: 20px;
  }

  .link--spring-summer__categories-text-card {
      font-size: 16px;
      line-height: 40px;
  }

  .wrapper--spring-summer__discover {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .container--spring-summer__video .heading {
      font-weight: 700;
      width: 80%;
      font-size: 32px;
  }

  .wrapper--spring-summer__video {
      padding: 0;
  }

  .container--spring-summer__video .paragraph {
      line-height: 16px;
  }

  .container--spring-summer__video .strong {
      font-size: 16px;
  }

}

.container--spring-summer__categories-text-heading {
    width: 50%!important;
}

@media (min-width: 769px){
  .container--spring-summer__categories-text-title{
    width: 70%!important;
  }
}


.container--solado-default{
    .headingLevel2--solado-default{
        margin-top: 0;
        color: #34bf7e;
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 44px;
    }
    .headingLevel2--solado-eva-micronizado{
        margin-block: 22px;
    }

    .paragraph--solado-default {
        max-width: 500px;
        color: #838383;
        font-size: 1rem;
        font-weight: 600;
    }
}

.container--caixa-reciclavel{
     max-width: 1170px;
    margin: 0 auto;
     width: 100%;

    .wrapper--caixa-reciclavel{
        display: flex;
        gap: 80px;
        max-width: 500px;
        flex-direction: column;
        .headingLevel2--caixa-reciclavel{
              font-size: 3.5rem;
            margin-top: 0;
            color: #3B6B46;
            max-width: 200px;
        }

        .paragraph--caixa-reciclavel{
            color: #3B6B46;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
}
.container--eco-motivacional{
     max-width: 940px;
     width: 100%;
    margin: 0 auto;
    .wrapper--eco-motivacional{
        display: flex;
        text-align: left;
        flex-direction: column;

        .headingLevel2--eco-motivacional{
            margin-top: 0;
            color: #FFF;
            font-weight: 400;
            font-size: 3rem;
            .strong--eco-motivacional{
                display: block;
                width: 100%;
            }
        }

        .paragraph--eco-motivacional{
            color: #FFF;;
            font-size: 1.5rem;
            margin-top: 0;
            margin-bottom: 40px;
            
            max-width: 660px;
            line-height: 100%;
    }
}
}
.container--iniciativa{
    justify-content: center;
    height: 80px;
    box-sizing: border-box;
    .paragraph--iniciativa{
        color: #34BF7E;
        font-size: 28px;
        line-height: 100%;
        font-weight: 600;
    }
}


.container--energia-limpa{
    max-width: 1170px;
    margin: 0 auto;
     width: 100%;
    
    .wrapper--energia-limpa{
        display: flex;
        gap:4.1rem ;
        .headingLevel2--energia-limpa{
            color: #FFF;
            font-size: 6.25rem;
            line-height: 90%;
            margin-top: 0;
        }
        .paragraph--energia-limpa{
            color: #FFF;
            font-weight: 500;
            font-size: 1.75rem;
            line-height: 40px;
            font-weight: 400;
            max-width: 500px;
            text-align: left;
        
    }

    }
}

.container--solado-title{
    .paragraph--solado-title{
        font-size: 3.5rem;
        margin-top: 0;
        margin-bottom: 80px;
        text-transform: uppercase;
        color: #34BF7E;
        display: flex;
        gap: 8px;

    }
}

.paragraph--solado-title::after {
    content:url("assets/img/solado-passo-certo-vira.svg");
            width: 20px;
            height: 20px;
}
.paragraph--solado-title::before {
    content:url("assets/img/solado-passo-certo.svg");
            width: 20px;
            height: 20px;
}


.container--palmilha-scraptech{
    .wrapper--palmilha-scraptech{
        max-width: 50%;

        .headingLevel2--palmilha-scraptech{
            color: #34BF7E;
            font-size: 100px;
            width: 100%;
            line-height: 90px;
            font-weight: 300;
            margin-top: 0;
        }

        .paragraph {
            font-size: 28px;
            line-height: 40px;
            color: #34BF7E;
            width: 100%;

            .image--palmilha-scraptech{
                margin-top: 20px;
            }
        }
    }
}

     .heading--fio-pet-title::after{
             content:url("assets/img/solado-passo-certo-vira.svg");
            width: 20px;
            height: 20px;
         }


         .heading--fio-pet-title::before {
            content:url("assets/img/solado-passo-certo.svg");
            width: 20px;
            height: 20px;
}
.container--fio-pet-title{
    margin-bottom: 80px;
    .wrapper--fio-pet-title{
        display: flex;
        gap: 200px;

        .heading--fio-pet-title{
              font-size: 3.5rem;
        margin-top: 0;
        margin-bottom: 80px;
        text-transform: uppercase;
        color: #34BF7E;
        display: flex;
        gap: 8px;
        }
        



        .paragraph{
            color: #34BF7E;
            font-size: 20px;
            margin-top: 0;
            line-height: 32px;
        }
    }
}

.container--fio-pet-subtitle {
    .wrapper--fio-pet-subtitle{
.heading{
    margin-top: 0;
    color: #34BF7E;
}

.paragraph {
    color: #838383;
    font-size: 20px;
    line-height: 25px;
    max-width: 400px;
}
    }
}

.container--couraca-eva{
    .wrapper--couraca-eva{
        .heading{
            margin-top: 0;
            color: #34BF7E;
            font-size: 64px;
            line-height: 64px;
        }
    }
}

.container--algodao-desfibrado{
    .wrapper {
        .heading{
            font-size: 96px;
            font-weight: 700;
            margin-top: 0;
            color: #34BF7E;
            margin-bottom: 20px;
        }

        .paragraph{
            color: #838383;
            font-size: 28px;
            margin-top: 0;
        }
    }
}


@media screen and (max-width:1024px){
    .container--eco-motivacional{
        .wrapper--eco-motivacional{
            .headingLevel2--eco-motivacional{
                font-size: 24px;
            }
            .paragraph--eco-motivacional{
                font-size: 1rem;
            }
        }   
    }

    .container--iniciativa{
        align-items: center;
            .wrapper--iniciativa {
                .paragraph{
                    font-size: 1rem;
                    text-align: center;
                    margin: 0;
                    max-width: 244px;
                }
            }
        }


        .container--caixa-reciclavel{
            .wrapper--caixa-reciclavel{
                gap: 40px;
                .headingLevel2--caixa-reciclavel{
                    font-size: 40px;
                    margin-bottom: 0;
                }

                .paragraph{
                    margin-top: 0;
                    font-size: 1rem;
                }
            }
        }

        .container--energia-limpa{
            max-width: 100%;
            .wrapper{
                gap: 1.5rem;
                flex-direction: column;
                .headingLevel2--energia-limpa{
                    font-size: 40px;
                    margin-bottom: 0;
                }
                
                
                .paragraph{
                    margin-bottom: 0;
                    font-size: 1rem;
                }
            }
        }

        .container--palmilha-scraptech{
            .wrapper{
                max-width: 100%;

                .headingLevel2--palmilha-scraptech{
                        font-size: 40px;
                        max-width: 200px;
                        line-height: 2rem;
                }

                .paragraph{
                    margin-top: 0;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    line-height: 20px;
                }

                .image--palmilha-scraptech{
                    max-width: 180px;
                    object-fit: fill;
                }
            }
        }

        .container--solado-default{
              .headingLevel2--solado-default{
                    margin-bottom: 20px;
                }
        }

        .container--fio-pet-title{
            margin-bottom: 20px;
            .wrapper--fio-pet-title{
                flex-direction: column;
                gap: 20px;

                .heading--fio-pet-title{
                    margin-bottom: 0;
                }
            }
        }


        .container--algodao-desfibrado {
            padding: 20px;
            .wrapper--algodao-desfibrado{
                .heading{
                    font-size: 40px;
                }

                .paragraph{
                    font-size: 1rem;
                }
            }
        }

        .container--couraca-eva {
            .wrapper--couraca-eva{
                .heading{
                    font-size: 40px;
                    text-align: left;
                    
                }
                .paragraph {
                    text-align: left;
                    font-size: 1rem;
                }
            }
        }
}