.trigger--disclosure-botao-descricao {
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E7E7E9 !important;
    margin-bottom: 20px;
}
.trigger--disclosure-botao-descricao::after {
    content: '';
    border: solid #DB3D68;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.trigger--disclosure-botao-descricao--visible::after {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

.trigger {
    cursor: pointer;
    border: none;
    transition: all .2s linear;
}

.content--hidden {
    display: none;
}

.content {
    transition: all .2s linear;
}

.trigger--question :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 17px;
    color: #000;
    font-weight: 600;
}

.content--answer :global(.vtex-rich-text-0-x-paragraph) {
    font-style: italic;
    margin: 20px 0;
    clear: both;
    font-size: .875rem;
    color: #555;
}

.trigger--question {
    margin-bottom: 10px;
}

.trigger--search-bar-mobile {
    position: absolute;
    top: 50px;
    right: 63px;
    background: transparent;
    border: none;
}

@media(max-width: 768px){
    .trigger--question :global(.vtex-rich-text-0-x-paragraph) {
        font-weight: 500;
    }
}