.container .label {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #222222;
    text-transform: none;
    font-family: 'Larsseit Medium';
    display: flex;
    align-items: center;
    gap: 4px;
}

.container .label:hover {
    text-decoration: underline;
}

.container .label:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('assets/img/user-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.accessCodeOptionBtn :global(.vtex-button) {
    background: #222;
    color: white;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.6px;
    border: none;
}

.content :global(.vtex-input-prefix__group) {
    border-width: 1px;
    border-radius: 0px;
    border-color: #ACACAC;
}

.content :global(.vtex-button) {
    border-radius: 3px;
    height: 37px;
}

.content :global(.vtex-button) :global(.vtex-button__label) :global(.t-small) {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-family: 'Inter';
    font-weight: 800;
}

.formLinkContainer {
    justify-content: center;
}

.forgotPasswordLink {
    font-size: 11px;
    color: #222;
}

.formTitle {
    color: #222;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
}

.contentContainer {
    box-shadow: none;
}

.arrowUp {
    display: none;
}

.box {
    border-radius: 10px;
    border: 1px solid #EEE;
    right: -215px !important;
}

.emailPasswordOptionBtn :global(.vtex-button) {
    border-radius: 3px;
    background: #DB3D68;
    border: none;
}

.emailPasswordOptionBtn :global(.vtex-button) :global(.vtex-button__label) {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: white;
    font-family: 'Inter';
    font-weight: 800;
}


.buttonSocial :global(.vtex-button) {
    border: none;
    height: auto;
}

.buttonSocial :global(.vtex-button__label) {
    border: 1px solid #db3d68;
    height: 40px;
    border-radius: 4px;
}

.optionsListItem:first-child {
    display: block;
    width: 100%;
    text-align: center;
}

.content {
    gap: 0px 40px;
}

.optionsListItem:first-child:after {
    content: 'Entrar com';
    display: block;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 10px;
    color: #222;
    margin-top: 25px;
}


.profile {
    font-size: 14px;
    letter-spacing: .03em;
    color: #222;
    text-transform: none;
    font-family: Larsseit Medium;
    gap: 4px;
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
}

.profile:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('assets/img/user-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}


@media(max-width: 768px) {

    .contentForm,
    .loginOptionsContainer {
        width: 100%;
    }

    .contentForm {
        padding: 0;
        margin-bottom: 30px;
    }
}

@media(min-width: 768px) {
    .contentForm {
        min-width: 20rem;
    }
} 


/* :global(.vtex-wish-list-1-x-fill){
    background-image: url('data:image/svg+xml;utf,<?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" data-name="Layer 1" fill="#db3d68" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>heart-glyph</title><path d="M362.67,21.33A149,149,0,0,0,256,66.19,149,149,0,0,0,149.33,21.33C67,21.33,0,88.32,0,170.67a148.45,148.45,0,0,0,43.08,104.9L240.51,484a21.33,21.33,0,0,0,31,0L468.75,275.74A148.45,148.45,0,0,0,512,170.67C512,88.32,445,21.33,362.67,21.33Z"/></svg>') !important;
} */

:global(.vtex-menu-2-x-styledLinkContainer--ativo):has(:global(.vtex-menu-2-x-styledLink--ativo[title="BLACK FRIDAY"])){
    background-color: #000;
}

:global(.dakota-dakota-theme-1-x-ProductGalleryImageZoom) :global(.slick-dots){
     display: flex !important;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin: 0;
    margin-bottom: 10px;
}

:global(.dakota-dakota-theme-1-x-ProductGalleryImageZoom) :global(.slick-dots) :global(li) :global(button) {
    height: 5px;
    width: 5px;
    border: 1px solid #707070;
    background: #fff;
    margin: 0 4px;
    display: inline-block;
    border-radius: 100%;
    padding: 3px;
    font-size: 0;
    opacity: 0.2;
}

:global(.dakota-dakota-theme-1-x-ProductGalleryImageZoom) :global(.slick-dots) :global(li) :global(button)::after {
    all:unset !important;
}

:global(.dakota-dakota-theme-1-x-ProductGalleryImageZoom) :global(.slick-dots) :global(li.slick-active) :global(button) {
    background: #707070;
    opacity: 1;
}