.flexRow--diferenciais {
    background-color: #DB3D68;
    margin-top: -2px;
}
.flexRow--diferenciais :global(.vtex-store-components-3-x-container) {
    max-width: 1310px;
}

.flexRowContent--blog {
    background-color: #F6F6F6;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.flexRowContent--container-custom {
    margin: 50px 0;
}

@media (max-width: 760px) {
    .flexRowContent--banner-and-list {
        flex-direction: column;
        max-width: 95%;
        margin: auto;
        margin-bottom: 30px;
    }
    .flexRowContent--infos-summary {
        padding: 0 !important;
    }
}

.flexCol--similar-summary {
    min-height: 40px;
}

.flexCol--banner-category :global(.vtex-store-components-3-x-imageElement) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.flexRowContent--banner-and-list {
    gap: 15px;
    align-items: stretch;
    display: flex;
}

@media (min-width: 2400px) {
    .flexRowContent--banner-and-list {
        align-items: center;
    }
}

.flexRowContent--orderByAndSwitcher {
    padding: 20px 0;
    justify-content: space-between;
}

.flexRowContent--infos-summary {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.flexRowContent--infos-summary .stretchChildrenWidth {
    width: 100% !important;
}
.flexRow--orderByAndSwitcher :global(.vtex-disclosure-layout-1-x-trigger) {
    background: #DB3D68;
    border-radius: 3px;
    padding: 11px 15px;
}
.flexRow--orderByAndSwitcher :global(.vtex-disclosure-layout-1-x-trigger--visible) {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexRow--orderByAndSwitcher :global(.vtex-disclosure-layout-1-x-trigger--visible)::after {
    content: '';
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.flexColChild--disclosure-filter :global(.vtex-disclosure-layout-1-x-content) {
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 7px -2px grey;
    padding: 15px;
    width: 250px;
    border-radius: 3px;
}

@media (max-width: 760px) {
    .flexCol--minicart-custom {
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
}

.flexColChild--container-blog {
    width: 100%;
}

.flexCol--prices-vitrine {
    flex-direction: row;
    align-items: center;
}

.flexColChild--prices-vitrine {
    height: auto !important;
}

.flexCol--flags-desktop {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 9;
    bottom: 30px;
    right: 15px;
}

.flexCol--resultados-busca{
    max-width: 1900px;
    margin: 0 auto;
}

@media (min-width: 990px) {
    .flexCol--resultados-busca{
        max-width: 100%;
    }
    .flexColChild--resultados-busca {
        max-width: 1900px;
        margin: 0 auto;
        width: 95%;
    }
    .flexColChild--resultados-busca:first-child {
        width: 100%;
        max-width: 100%;
    }
    .flexRowContent--search-topo {
        max-width: 95%;
        margin: 0 auto;
    }
    .flexRow--banner-and-list {
        margin-top: -15px;
        display: block !important;
    }
}

@media (max-width: 760px) {
    .flexRow--banner-and-list {
        display: block !important;
    }
    .flexCol--flags-desktop {
        display: none;
    }
}

.flexRow--content-custom .flexRowContent--content-custom {
    max-width: 95%;
    margin: auto;
}

.flexRow--container-custom .flexRowContent--container-custom {
    padding: 0 20px;
}

@media (min-width: 990px) {
    .flexCol--similar-summary {
        min-height: 40px;
        /* display: none; */
    }
}


.flexRowContent--main-header {
    padding: 11px 0px;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) .flexRowContent--main-header {
    padding: 3px 0px;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) :global(.vtex-sticky-layout-0-x-container--sticky-header) {
    box-shadow: 0 4px 7px -6px grey;
    background: white;
}

.flexRow--topo-menu,
.flexRow--topo-menu-flutuante {
    background-color: #db3d68;
}

.flexRow--topo-menu.flexRow--mobile :global(.vtex-store-link-0-x-label) {
    color: white;
    font-size: 14px;
}

.flexRowContent--topo-menu :global(.vtex-rich-text-0-x-paragraph),
.flexRowContent--topo-menu :global(.vtex-rich-text-0-x-link) {
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin: 0;
}

.flexRowContent--topo-menu.flexRowContent--mobile :global(.vtex-disclosure-layout-1-x-trigger) {
    background: transparent;
    border: none;
}

.flexRowContent--topo-menu-flutuante :global(.vtex-rich-text-0-x-container) {
    padding: 0px 15px;
}

.flexRow--logos-marca :global(.vtex-store-components-3-x-imageElement) {
    display: block;
    width: 100%;
}

.flexRow--topo-menu .flexRowContent--logos-marca {
    gap: 25px;
    align-items: center;
}

.flexRow--main-header,
.flexRow--main-header-mobile,
.flexRow--search-bar-mobile {
    background: white;
}

.flexRowContent--links-central-de-atendimento :global(.vtex-store-link-0-x-link) {
    display: inline-block;
    padding: 5px 30px;
    background: none;
    color: #000;
    font-size: 24px;
    width: auto;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #000;
    letter-spacing: 1px;
    font-family: 'Larsseit Medium';
}

.flexCol--container-links-institucional :global(.vtex-store-link-0-x-link) {
    display: block;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    letter-spacing: 1px;
    color: #858585;
}

.flexRowContent--links-account :global(.vtex-store-link-0-x-link--links-account) {
    background: #000;
    color: #fff;
    width: 100%;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    margin: 15px 15px;
    border: 3px solid #000;
    text-decoration: none;
    text-align: center;
}

.flexRowContent--links-account :global(.vtex-store-link-0-x-link--links-account):hover {
    background: #fff;
    color: #000;
}

.flexRow--links-account :global(.vtex-store-components-3-x-container) {
    max-width: 1000px;
}

.flexRow--condicoes-geral :global(.vtex-store-link-0-x-link--condicoes-gerais),
.flexRowContent--troca-devolucao :global(.vtex-store-link-0-x-link--trocas-devolucao),
.flexRow--politica-privacidade :global(.vtex-store-link-0-x-link--politicas-privacidade) {
    color: black;
}

.flexRowContent--menu-footer :global(.vtex-menu-2-x-styledLinkContent):hover {
    color: #db3d68;
    text-decoration: underline;
}

.flexRow--footer-seguranca {
    background-color: #eee;
}

.flexRowContent--footer-seguranca {
    justify-content: center;
    gap: 35px;
    align-items: flex-start;
}

.flexColChild--plataformas:last-child {
    height: 20px !important;
    align-items: flex-end;
    display: flex;
}

.flexRowContent--copyright-footer {
    border-top: 1px solid #dcd6d1;
}

.flexRowContent--redes-sociais {
    justify-content: center;
    gap: 20px;
}

.flexRow--newsletter {
    background-color: #db3d68;
    position: relative;
}

.flexRow--newsletter .flexColChild--newsletter {
    width: 100%;
}

.flexRow--compre-numeracao {
    background-color: #EBEBEB;
}

.flexRowContent--conteudo-blog {
    gap: 35px;
}

.flexRowContent--main-header-mobile {
    align-items: center;
}

.flexRowContent--main-header-mobile :global(.vtex-minicart-2-x-openIconContainer),
.flexRowContent--main-header-mobile :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button__label) {
    padding: 0;
}

.flexCol--header-numeracao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    grid-auto-rows: 38px;
    position: relative;
    padding-top: 23px;
}

.flexCol--header-numeracao::before {
    content: 'compre por numeração';
    display: block;
    position: absolute;
    text-align: center;
    font-family: 'Larsseit Bold';
    text-transform: uppercase;
    font-size: 14px;
    color: #222222;
    width: 100%;
}

.flexRow--menu-categorias-header {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 3px 0px 2px 0px;
}

.flexCol--header-numeracao :global(.vtex-store-link-0-x-link) {
    padding: 10px 10px;
    border: 1px solid black;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    display: block;
}

.flexCol--header-numeracao :global(.vtex-store-link-0-x-link):hover {
    background: #db3d68;
    color: white;
}

.flexRowContent--header-departamento {
    overflow: scroll;
    gap: 13px;
    padding-left: 6px;
}

.flexRowContent--header-departamento .stretchChildrenWidth {
    width: 22% !important;
    flex-shrink: 0;
}

.flexRow--topo-menu-mobile {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
}

.flexRow--topo-menu-mobile :global(.vtex-store-components-3-x-logoLink) {
    width: auto;
}


.flexRowContent--product-main .flexCol--product-informacoes,
.flexCol--info-availability {
    position: sticky;
    top: 120px;
    height: fit-content;
    padding: 0 40px;
    overflow-y: auto;
}

@media(max-width: 1500px) {

    .flexRowContent--product-main .flexCol--product-informacoes,
    .flexCol--info-availability {
        height: 160vh;
    }
}

.flexCol--info-availability .flexCol--buy-button-whislist-left {
    display: none;
}

.flexRow--buy-button :global(.vtex-button) {
    height: 45px;
    background: #45eb85;
    border: none;
    border-radius: 3px;
}

.flexRow--buy-button :global(.vtex-add-to-cart-button-0-x-buttonText--checkout) {
    color: black;
    font-size: 18px;
    font-family: 'Larsseit Bold';
    letter-spacing: 2px;
}

.flexCol--buy-button-whislist-left :global(.vtex-button) {
    background: #FFFFFF;
    border: 1.5px solid #222222;
    height: 45px;
}

.flexCol--buy-button-whislist-left :global(.vtex-button__label),
.flexCol--buy-button-whislist-rigth :global(.vtex-button__label) {
    padding: 0px 8px;
}

.flexCol--buy-button-whislist-left :global(.vtex-button__label) :global(.vtex-add-to-cart-button-0-x-buttonText) {
    font-size: 13px;
    color: black;
    font-family: 'Larsseit Bold';
    letter-spacing: 2px;
}

.flexColChild--buy-button-whislist-rigth :global(.vtex-button) {
    display: block;
    width: 100%;
    background: #F6F6F6;
    border-radius: 3px;
    height: 45px;
}

.flexColChild--buy-button-whislist-rigth :global(.vtex-button__label)::after {
    content: 'Salvar para mais tarde';
    display: block;
    letter-spacing: 0.05em;
    color: #222222;
    font-size: 14px;
    font-family: 'Larsseit Medium';
    text-transform: none;
    padding-left: 10px;
}

.flexCol--product-informacoes .flexColChild--product-informacoes {
    display: block;
    width: 100%;
}

.flexRowContent--beneficios {
    border-top: 1px solid #F6F6F6;
}

.flexRowContent--beneficios.flexRowContent--mobile {
    padding: 15px 35px 0px 35px;
}

.flexRowContent--beneficios.flexRowContent--mobile .flexCol--beneficios {
    margin-bottom: 12px;
}

.flexCol--product-informacoes :global(.vtex-store-components-3-x-skuSelectorContainer) {
    border-top: 1px solid #F6F6F6;
    margin-top: 20px;
}

.flexRowContent--productSpecificationGroup {
    background: #F6F6F6;
    border-radius: 5px;
    padding: 34px 50px;
}

.flexRowContent--productSpecificationGroup :global(.vtex-product-identifier-0-x-product-identifier) {
    padding: 2px 0px;
}

.flexRowContent--productSpecificationGroup :global(.vtex-product-identifier-0-x-product-identifier__label) {
    font-size: 14px;
    font-family: 'Larsseit Medium';
    color: #222222;
    letter-spacing: 0.5px;
}

.flexRowContent--productSpecificationGroup :global(.vtex-product-identifier-0-x-product-identifier__value) {
    font-size: 14px;
    font-family: 'Larsseit Regular';
    color: #222222;
    letter-spacing: 0.5px;
}

.flexRowContent--title-description {
    border-bottom: 1px solid #F6F6F6;
}

.flexRow--productSpecification {
    padding: 2px 0px;
}

.flexRowContent--cartSummary,
.flexRowContent--cartSummaryCustom {
    border-bottom: 1px solid #e1e1e1;
}

.flexRowContent--minicart-footer-custom :global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button) {
    background: black;
    border: none;
    border-radius: 5rem;
    height: 54px;
}


.flexRowContent--minicart-footer :global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button) {
    height: 45px;
    background: #222;
    border-radius: 3px;
    border: none;
    display: block;
    margin-top: 20px;
}

.flexCol--menuproduct {
    padding-left: 30px;
    margin-left: 10px;
    border-left: 1px solid #EEEEEE;
}

.flexRowContent--minicart-footer-custom :global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button__label),
.flexRowContent--minicart-footer :global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button__label) {
    font-size: 0px;
}

.flexRowContent--minicart-footer-custom :global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button__label)::after {
    font-size: 18px;
    content: 'Finalizar compra';
    display: block;
    color: white;
    text-transform: none;
}

.flexRowContent--search-banner :global(.vtex-store-components-3-x-imageElementLink) {
    line-height: 0;
    font-size: 0;
}

.flexRowContent--minicart-footer :global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button__label)::after {
    font-size: 14px;
    content: 'Finalizar compra';
    display: block;
    color: white;
    text-transform: uppercase;
    font-family: 'Larsseit Medium';
    letter-spacing: 1px;
}

.flexRow--minicart-footer {
    box-shadow: none;
    background: #F6F6F6;
}

.flexRow--minicart-footer :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

.flexRow--minicart-header {
    background: #F6F6F6;
    height: 60px;
}

.flexRowContent--lp__container {
    flex-direction: column;
}

.flexRowContent--lp__container .stretchChildrenWidth {
    display: contents;
}

.flexRow--minicart-header .flexRowContent--minicart-header {
    padding: 20px 25px;
}

.flexRow--minicart-header .flexRowContent--minicart-header :global(.vtex-rich-text-0-x-paragraph) {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.flexRow--buy-button-mobile {
    position: fixed;
    bottom: 0px;
    background: white;
    left: 0px;
    right: 0px;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 0px 0px;
    z-index: 99;
}

.flexRowContent--buy-button-mobile {
    padding-left: 15px;
    padding-right: 15px;
    gap: 8px;
}

.flexCol--filterCol :global(.vtex-disclosure-layout-1-x-trigger) {
    background: #DB3D68;
    border-radius: 3px;
    padding: 11px 15px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.flexCol--filterCol :global(.vtex-disclosure-layout-1-x-trigger--visible) {
    position: relative;
    width: 100%;
    background: #F6F6F6;
    margin-top: 70px;
}

.flexCol--filterCol :global(.vtex-disclosure-layout-1-x-trigger--visible) :global(.vtex-rich-text-0-x-paragraph--title-filter) {
    color: #DB3D68;
}

.flexCol--filterCol :global(.vtex-disclosure-layout-1-x-trigger--visible) :global(.vtex-rich-text-0-x-paragraph--title-filter)::after {
    content: "";
    width: 8px;
    height: 8px;
    border-right: 2px solid #DB3D68;
    border-bottom: 2px solid #DB3D68;
    font-size: 0;
    position: absolute;
    right: 15px;
    transform: translateY(-50%) rotate(-135deg);
    top: 25px;
    display: block;
}

.flexCol--filterCol :global(.vtex-disclosure-layout-1-x-trigger--visible) :global(.vtex-rich-text-0-x-paragraph--title-filter)::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 20' fill='none'%3e%3cpath d='M9 4H23' stroke='%23DB3D68' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M1 4H5' stroke='%23DB3D68' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M17 16H23' stroke='%23DB3D68' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M1 16H13' stroke='%23DB3D68' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M9 1V7' stroke='%23DB3D68' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3cpath d='M17 13V19' stroke='%23DB3D68' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
}

.flexCol--filterCol :global(.vtex-search-result-3-x-filters--layout) {
    width: 275px;
}

.flexRowContent--content-search {
    position: relative;
}

.flexRow--search-topo {
    background-color: rgba(238, 238, 238, 1);
    margin-bottom: 30px;
}

.flexCol--search-topo {
    position: relative;
}

.flexRowContent--productCountMobileRow {
    border-bottom: 1px solid #F6F6F6;
    border-top: 1px solid #F6F6F6;
    align-items: center;
    margin-top: 10px;
}

.flexRowContent--searchinfomobile {
    gap: 8px;
    align-items: baseline;
    margin-top: 0;
}

.flexCol--filterCol {
    position: sticky;
    top: 120px;
    height: 100vh;
}

.flexRow--menuHeader {
    width: 100%;
    height: calc(100vh - 50px);
    overflow: auto;
    margin-bottom: 25px;
}

.flexRow--img-seguranca :global(.vtex-store-components-3-x-imageElement) {
    display: block;
    width: 100%;
    max-height: 90px !important;
}

.flexRowContent--footer-seguranca.flexRowContent--mobile .flexCol--seguranca {
    display: block;
    width: 100%;
}

.flexRowContent--footer-seguranca.flexRowContent--mobile {
    flex-wrap: wrap;
}

.flexCol--minicart-custom :global(.vtex-store-components-3-x-imageElement) {
    width: 24px;
}

.flexRowContent--minicart-footer {
    padding-top: 0;
}

@media(min-width: 769px) {
    .flexRow--search-topo :global(.vtex-breadcrumb-1-x-container) {
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
        height: 40px;
    }

    .flexRowContent--menu-footer :global(.vtex-menu-2-x-menuContainer) {
        flex-direction: row;
        justify-content: space-between;
    }

    .flexRowContent--menu-footer :global(.vtex-menu-2-x-styledLinkContent) {
        font-size: 15px;
    }
}

@media(max-width: 768px) {

    .flexRowContent--footer-seguranca.flexRowContent--mobile :global(.vtex-rich-text-0-x-container--footer-seguranca),
    .flexRowContent--footer-seguranca .flexRowContent--img-seguranca {
        justify-content: center;
    }


    .flexCol--container-links-institucional :global(.vtex-store-link-0-x-link) {
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
    }

    .flexCol--container-links-institucional :global(.vtex-store-link-0-x-link)::after {
        content: '>';
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family: monospace;
        color: black;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .flexCol--container-links-institucional {
        margin-bottom: 50px;
    }

    .flexRowContent--productSpecificationGroup {
        margin-top: 15px;
        padding: 34px 25px;
    }

    .flexRow--beneficios .flexCol--beneficios {
        flex-direction: row;
        gap: 13px;
        align-items: center;
    }

    .flexRowContent--conteudo-blog {
        padding: 0px 20px;
    }

    .flexRowContent--conteudo-blog .flexCol--conteudo-02,
    .flexRowContent--conteudo-blog .flexCol--conteudo-03 {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        gap: 25px;
    }

    .flexRowContent--conteudo-blog .flexCol--conteudo-02 {
        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        padding-top: 25px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-top: 25px;
    }

    .flexCol--conteudo-02 :global(.vtex-rich-text-0-x-link--conteudo-blog),
    .flexCol--conteudo-03 :global(.vtex-rich-text-0-x-link--conteudo-blog) {
        font-size: 12px;
    }

    .flexCol--conteudo-01 :global(.vtex-rich-text-0-x-link--conteudo-blog) {
        font-size: 14px;
    }

    .flexRowContent--menu-footer :global(.vtex-menu-2-x-menuContainer) {
        gap: 8px;
    }

    .flexRowContent--links-central-de-atendimento :global(.vtex-store-link-0-x-link) {
        padding: 27px 30px;
        background: #fbf9fa;
        width: 270px;
        border-radius: 20px;
        display: block;
        margin: 20px auto;
    }

    .flexRowContent--compre-numeracao {
        flex-wrap: wrap;
        max-width: 340px;
        margin: auto;
    }

    .flexRowContent--compre-numeracao::before {
        content: 'COMPRE NA SUA NUMERAÇÃO';
        display: block;
        width: 100%;
        text-align: center;
        color: #4C4C4C;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 4px;
        font-family: 'Larsseit Extra Bold';
        margin-bottom: 8px;
    }

    .flexRowContent--menu-footer :global(.vtex-menu-2-x-styledLinkContent) {
        font-size: 14px;
        font-family: 'Larsseit Regular';
        justify-content: center;
    }

    .flexRowContent--product-main .flexCol--product-informacoes,
    .flexCol--info-availability {
        height: auto !important;
        padding: 0px;
        overflow-x: hidden;
    }

    .flexRowContent--product-main {
        margin-top: 0;
        padding-top: 0;
    }

    .flexRowContent--grid-banner :global(.vtex-store-components-3-x-imageElement) {
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
    }

    .flexRowContent--minicart-footer {
        padding-bottom: 80px;
    }

    .flexRow--search-banner-mobile {
        display: block;
    }

    .flexRow--search-banner-desktop {
        display: none;
    }

    .flexRow--search-topo {
        background-color: rgba(246, 246, 246, 1);
        margin-bottom: 25px;
    }
}

@media(min-width: 1000px) {
    .flexRow--search-banner-mobile {
        display: none;
    }

    .flexRow--search-banner-desktop {
        display: block;
    }
}

.flexRowContent--seo-category {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.flexRowContent--seo-category :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
}

/*lp fall-winter*/
.flexRow--lp__container-fall-winter :global(.vtex-store-components-3-x-container) {
    max-width: 1920px;

}

.flexRowContent--lp__container-fall-winter {
    flex-direction: column;
}

.flexRowContent--lp__container-fall-winter .stretchChildrenWidth {
    display: contents;
}

.flexRowContent--fall-winter__categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.flexRowContent--fall-winter__showcase-banner {
    position: relative;
    gap: 40px;
    padding: 4%;
}

.flexRowContent--fall-winter__showcase-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #E50069;
    z-index: 1;
}

.flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-sliderLeftArrow):not(:global(.vtex-slider-layout-0-x-sliderArrows--fall-winter__showcase-banner))::before {
    content: url('assets/img/lp-outono/seta-black.png');
}

.flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-sliderRightArrow):not(:global(.vtex-slider-layout-0-x-sliderArrows--fall-winter__showcase-banner))::before {
    content: url('assets/img/lp-outono/seta-black.png');
    rotate: 180deg;
}

.flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    left: 0;
}

.flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    right: 0;
}

.flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-caretIcon) {
    display: none;
}

.flexRow--lp__container-fall-winter :global(.vtex-flex-layout-0-x-flexCol--similar-summary) {
    display: none;
}

.flexRow--lp__container-fall-winter :global(.vtex-flex-layout-0-x-flexCol--flags-summary) {
    top: 0;
    bottom: auto;
}

.flexRow--lp__container-fall-winter :global(.vtex-product-summary-2-x-nameContainer) {
    justify-content: center;
}

.flexRow--lp__container-fall-winter :global(.vtex-flex-layout-0-x-flexCol--prices-vitrine) {
    display: block;
}

.flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-sellingPrice--summary) {
    text-align: center !important;
}

.flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-currencyContainer)::after {
    display: none;
}

.flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-sliderArrows--shelf) {
    background-color: white !important;
}

.flexCol--fall-winter__categories {
    position: relative;
}

.flexRow--fall-winter__categories {
    padding: 2%;
}
:global(.vtex-store-components-3-x-imageElement--fall-winter__showcase-banner) {
    z-index: 1;
    position: relative;
}

.flexRow--fall-winter__cupom {
    margin: 50px 0;
    position: relative;
}

.flexRowContent--fall-winter__video {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #E50069 80%, white 40%);
    margin-bottom: 50px;
}

.flexRow--fall-winter__cupom :global(.vtex-store-components-3-x-imageElement){
    width: 100%;
}

.flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-installments) {
    text-align: center !important;
}

.flexRow--lp__container-fall-winter :global(.vtex-flex-layout-0-x-flexCol--prices-vitrine) {
    display: block;
}

.flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-sellingPrice--summary) {
    text-align: center !important;
}

.flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary) {
    color: #E50069 !important;
}

@media(max-width:768px) {
    .flexRow--lp__container-fall-winter :global(.vtex-store-components-3-x-container) {
        padding: 0;
    }

    .flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-installments) {
            font-size: 12px !important;
    }

    .flexRowContent--fall-winter__categories {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }

    .flexRowContent--fall-winter__categories .flexCol--fall-winter__categories-01,
    .flexRowContent--fall-winter__categories :last-child .flexCol--fall-winter__categories {
        grid-column: span 2;
    }

    .flexRowContent--fall-winter__showcase-banner {
        padding: 0;
        display: block;
    }

    .flexRowContent--fall-winter__showcase-banner::before {
        height: 40%;
    }

    .flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-sliderLeftArrow)::before,
    .flexRow--lp__container-fall-winter :global(.vtex-slider-layout-0-x-sliderRightArrow)::before {
        height: 32px;
        width: 32px;
        display: block;
    }

    .flexRow--lp__container-fall-winter :global(.vtex-product-summary-2-x-nameContainer) :global(.vtex-product-summary-2-x-brandName),
    .flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-currencyContainer--summary),
    .flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary) {
        font-size: 24px !important;
    }

    .flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-installments) {
        font-size: 12px !important;
    }

    :global(.vtex-store-components-3-x-imageElement--fall-winter__showcase-banner) {
        width: 92%;
        margin: auto;
        display: block;
    }

    .flexRow--fall-winter__categories {
        margin-bottom: 50px;
    }

    .flexColChild--fall-winter__categories :global(.vtex-store-components-3-x-imageElement) {
        box-shadow: 5px 5px #D6D6D6;
    }

    .flexRowContent--fall-winter__video {
        background: linear-gradient(to bottom, #E50069 60%, white 40%);
    }

    :global(.vtex-store-components-3-x-imageElement--fall-winter__showcase-banner) {
            width: 92%;
            margin: auto;
            display: block;

    }

    .flexRow--lp__container-fall-winter :global(.vtex-product-summary-2-x-nameContainer) :global(.vtex-product-summary-2-x-brandName) {

            font-size: 15px !important;

    }

    .flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-currencyContainer--summary) {

            font-size: 24px !important;

    }


    .flexRow--lp__container-fall-winter :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary) {
            font-size: 24px !important;
        }
}


/*lp spring-summer*/
.flexRow--lp__container-spring-summer :global(.vtex-store-components-3-x-container) {
    max-width: 1920px;

}

.flexRowContent--lp__container-spring-summer{
    flex-direction: column;
}

.flexRowContent--lp__container-spring-summer .stretchChildrenWidth {
    display: contents;
}

.flexRowContent--spring-summer__showcase-banner {
    position: relative;
    gap: 40px;
    padding: 4%;
}


.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-sliderLeftArrow):not(:global(.vtex-slider-layout-0-x-sliderArrows--spring-summer-banner))::before {
     content: '';
    background-image: url('assets/img/lp-primavera-verao-2025/seta.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-sliderRightArrow):not(:global(.vtex-slider-layout-0-x-sliderArrows--fall-winter__showcase-banner))::before {
     content: '';
    background-image: url('assets/img/lp-primavera-verao-2025/seta.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    rotate: 180deg;
}

.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    left: 0;
}

.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    right: 0;
}

.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-caretIcon) {
    display: none;
}

.flexRow--lp__container-spring-summer :global(.vtex-flex-layout-0-x-flexCol--similar-summary) {
    display: none;
}

.flexRow--lp__container-spring-summer :global(.vtex-flex-layout-0-x-flexCol--flags-summary) {
    top: 0;
    bottom: auto;
}

.flexRow--lp__container-spring-summer :global(.vtex-product-summary-2-x-nameContainer) {
    justify-content: center;
}

.flexRow--lp__container-spring-summer :global(.vtex-flex-layout-0-x-flexCol--prices-vitrine) {
    display: block;
}

.flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-sellingPrice--summary) {
    text-align: center !important;
}

.flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-currencyContainer)::after {
    display: none;
}

.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-sliderArrows--shelf) {
    background-color: white !important;
}

.flexCol--spring-summer__categories {
    position: relative;
}

.flexRow--spring-summer__categories {
    padding: 4%;
}
:global(.vtex-store-components-3-x-imageElement--spring-summer__showcase-banner) {
    z-index: 1;
    position: relative;
}

.flexRow--spring-summer__cupom {
    margin: 50px 0;
    position: relative;
}

.flexRowContent--spring-summer__video {
  justify-content: center;
    align-items: center;
    background: #E50069;
    margin-bottom: 50px;
}

.flexRow--spring-summer__cupom :global(.vtex-store-components-3-x-imageElement){
    width: 100%;
}

.flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-installments) {
    text-align: center !important;
}

.flexRow--lp__container-spring-summer :global(.vtex-flex-layout-0-x-flexCol--prices-vitrine) {
    display: block;
}

.flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-sellingPrice--summary) {
    text-align: center !important;
}

.flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary) {
    color: #E50069 !important;
}

.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-paginationDotsContainer ) :global(.vtex-slider-layout-0-x-paginationDot--isActive) {
    background: #FD0062;
    border: none;
    width: 12px!important;
    height: 12px!important;
}


.flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-paginationDot) {
    background: #FF54A0;
    border: none;
    width: 8px !important;
    height: 8px !important;
}

@media (min-width: 769px){
    .flexCol--spring-summer__categories {
      width: 50%!important;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .flexRowContent--spring-summer__showcase-banner {
    flex-direction: column;
  }
}

.flexRowContent--spring-summer__categories {
    justify-content: center;
    gap: 20px;
}

@media(max-width:768px) {
    .flexRow--lp__container-spring-summer :global(.vtex-store-components-3-x-container) {
        padding: 0;
    }

    .flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-installments) {
            font-size: 12px !important;
    }

    .flexRowContent--spring-summer__categories {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }

    .flexRowContent--spring-summer__categories .flexCol--spring-summer__categories-01,
    .flexRowContent--spring-summer__categories :last-child .flexCol--spring-summer__categories {
        grid-column: span 2;
    }

    .flexRowContent--spring-summer__showcase-banner {
        padding: 0;
        display: block;
    }

    .flexRowContent--spring-summer__showcase-banner::before {
        height: 40%;
    }

    .flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-sliderLeftArrow)::before,
    .flexRow--lp__container-spring-summer :global(.vtex-slider-layout-0-x-sliderRightArrow)::before {
        height: 32px;
        width: 32px;
        display: block;
    }

    .flexRow--lp__container-spring-summer :global(.vtex-product-summary-2-x-nameContainer) :global(.vtex-product-summary-2-x-brandName),
    .flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-currencyContainer--summary),
    .flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary) {
        font-size: 24px !important;
    }

    .flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-installments) {
        font-size: 12px !important;
    }

    :global(.vtex-store-components-3-x-imageElement--spring-summer__showcase-banner) {
        width: 92%;
        margin: auto;
        display: block;
    }

    .flexRow--spring-summer__categories {
        margin-bottom: 50px;
    }

    .flexRowContent--spring-summer__video {
        background: #E50069;
    }

    :global(.vtex-store-components-3-x-imageElement--spring-summer__showcase-banner) {
            width: 92%;
            margin: auto;
            display: block;

    }

    .flexRow--lp__container-spring-summer :global(.vtex-product-summary-2-x-nameContainer) :global(.vtex-product-summary-2-x-brandName) {

            font-size: 15px !important;

    }

    .flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-currencyContainer--summary) {

            font-size: 24px !important;

    }


    .flexRow--lp__container-spring-summer :global(.vtex-product-price-1-x-sellingPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary) {
            font-size: 24px !important;
        }
}

.flexCol--spring-summer__categories-right-col,
.flexColChild--spring-summer__categories-text-title-2{
  height: initial!important;
}

@media (min-width: 768px) and (max-width: 1500px){
  .flexColChild--spring-summer__categories-right-col :global(.vtex-flex-layout-0-x-flexRowContent) {
    gap: 10px;
  }
}
@media (min-width: 1501px){
  .flexColChild--spring-summer__categories-right-col :global(.vtex-flex-layout-0-x-flexRowContent) {
    gap: 10px;
  }
}

@media (max-width: 768px){
  .flexCol--spring-summer__categories-right {
    flex-direction: row;
    gap: 10px;
  }
}

.flexCol--spring-summer__categories-text-title-2 {
    justify-content: space-between;
}

.flexRowContent--spring-summer__categories-principal {
    flex-direction: column;
}

.flexRowContent--spring-summer__categories-principal-cards-right {
    gap: 20px;
}

@media (max-width: 768px){
  .flexRow--spring-summer__showcase-secund-desk {
    display: none;
  }
}

@media (min-width: 769px){
  .flexRow--spring-summer__showcase-secund-mob {
    display: none;
  }
  .flexCol--spring-summer__categories-text-title-2{
    width: 70%!important;
  }
  .flexRowContent--spring-summer__categories-title-gp {
    gap: 20px;
  }
}

.flexRow--vitrine-produto {
    max-width: 1600px;
    margin: 0 auto;
}
.flexRow--vitrine-produto :global(.vtex-slider-layout-0-x-sliderArrows) {
    background: transparent !important;
}
.flexRow--vitrine-produto :global(.vtex-slider-layout-0-x-caretIcon) {
    color: #000 !important;
}
.flexRow--vitrine-produto :global(.vtex-rich-text-0-x-heading--title-padrao) {
    color: #000 !important;
    font-size: 28px !important;
    font-family: "Larsseit Regular" !important;
    text-transform: math-auto !important;
    font-weight: 300 !important;
}
.flexColChild--solado-banner-wrapper{
    position: relative;
    margin-top: 400px;
    width: 100%;
    background-color: white;
    height: 255px !important;

    :global(.vtex-store-components-3-x-imageElement){
        position: absolute;
        top: -404px;
        width: 100%;
        object-fit: contain;
    }
}

.flexRow--passoCertoWrapper{
     > :global(.vtex-store-components-3-x-container){
        max-width: 100%;
        padding: 0;
        background-color: #EFEFEF;
     }
}


.flexRowContent--energia-limpa{
    background-image: url("assets/img/lp-passo-certo/energia-limpa.png");
    background-color: #34BF7E;
    background-repeat: no-repeat;
    height: 1000px;
    padding: 100px;
}
.flexRowContent--eco-motivacional{
    background: url("assets/img/lp-passo-certo/fundo-ondulado.png") #34BF7E;
    background-repeat: no-repeat;
    height: 1000px;
    background-position: center;
    padding-block: 115px;
}
.flexRowContent--caixa-reciclavel{
    background-image: url("assets/img/lp-passo-certo/caixa-reciclavel.png");
    background-repeat: no-repeat;
    height: 1000px;
    padding: 150px;
}
.flexCol--palmilha-scraptech{
    background-image: url("/arquivos/palmilha-scraptech.png");
    background-repeat: no-repeat;
    height: auto;
    box-sizing: border-box;
    padding-block: 70px;
}

.flexColChild--palmilha-scraptech{
    max-width: 1170px;
    margin: 0 auto;
}

.flexRowContent--tecido-fio-pet{
    background-color: white;
}

.flexCol--tecido-fio-pet{
    padding-block: 40px 150px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;


}

.flexCol--solado-all-content{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding-block: 40px ;
}

.flexCol--solado{
    padding-inline: 48px;
    display: grid !important;
    row-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

.flexRowContent--couraca-eva,.flexRow--algodao-desfibrado{
    height: 640px;
    padding-block: 120px;
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}



@media screen and (max-width:1024px){
    .flexRowContent--eco-motivacional{
        padding-block: 30px;
        padding-inline: 20px 150px;
        height: auto;
        background-position: -12% 0;
    }

    .flexRowContent--caixa-reciclavel{
        padding: 80px 20px;
        height: auto;
        background-size: 100%;
        background-image: url("assets/img/lp-passo-certo/caixa-reciclavel-mobile.png");
    }

    .flexRowContent--energia-limpa{
        padding: 40px 20px;
        height: 600px;
        background-size: cover;
        background-position: 52% 0;
    }

    .flexCol--palmilha-scraptech{
        padding: 30px 20px;
        height: 710px;
        background-size: 700px;
        background-position: 100% 125%;
    }
    .flexCol--solado-all-content{
        padding-inline:20px;
    }
    .flexCol--solado{
        display: flex !important;
        flex-direction: column;
        padding-inline: 0;
    }

    .flexColChild--solado-banner-wrapper{
        background-color: unset;
        height: auto !important;
        margin-top: 20px;

        :global(.vtex-store-components-3-x-imageElement){
            position: relative;
            top: unset;
        }
    }

    .flexCol--tecido-fio-pet{
        padding-inline: 20px;
        padding-block: 40px;
        
    }
    .flexColChild--tecido-fio-pet{
        position: relative;
    }

    .flexRow--algodao-desfibrado{
        padding-block: unset;

        .flexRowContent--algodao-desfibrado{
            height: 100%;
            overflow: hidden;
        }
    }

    .flexRowContent--couraca-eva{
        padding-block: unset;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        overflow: hidden;
        padding: 20px;
    }



}

@media screen and (max-width: 600px) {
.flexRowContent--searchinfomobile {
        margin-top: 0 !important;
    }
}