.tooltipLabelText--checkout,
.tooltipLabelText {
    font-size: 0;
}

.tooltipLabelText--checkout::after,
.tooltipLabelText::after {
    content: 'Por favor, selecione a NUMERAÇÃO desejada';
    font-size: .875rem;
}