.contentforms .texto strong {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000;
}
.contentforms .texto p {
    font-family: 'Atyp Display TRIAL';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 35px;
}
.contentforms .texto p strong {
    font-family: 'Atyp Display TRIAL';
    font-weight: 600;
    font-size: 30px;
}
.contentforms .content {
    position: absolute;
    right: 10%;
    top: 30%;
    max-width: 710px;
}
.contentforms {
    background: url(https://dakota.vtexassets.com/assets/vtex.file-manager-graphql/images/5a4d8cad-097f-4792-a011-5705c803e136___62ddb4b1bdbff4a501e38f6d3f1d3486.png) no-repeat;
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    position: relative;
}
.contentforms .content input {
    border: none;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    font-size: 24px;
    background: rgba(228, 0, 106, 1);
    color: #fff;
    padding-left: 20px;
    margin: 10px 0;
    font-family: 'Atyp Display TRIAL';
}
.contentforms .content input::placeholder {
    color: #fff;
}
.contentforms .textoConcluido p {
    font-family: 'Atyp Display TRIAL';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}
.contentforms .textoConcluido strong {
    font-family: 'Atyp Display TRIAL';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.contentforms button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    width: 260px;
    height: 56px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    font-family: 'Atyp Display TRIAL';
    line-height: normal;
}
.contentforms .error {
    color: #ff0000;
    font-size: 16px;
}
.contentforms .textoConcluido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contentforms .textoConcluido a {
    font-family: 'Atyp Display TRIAL';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
    background: rgba(228, 0, 106, 1);
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 30px;
}
.contentforms .valido {
    font-family: 'Atyp Display TRIAL';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    color: rgba(64, 64, 64, 1);
    position: absolute;
    bottom: 5%;
    right: 5%;
}

@media (min-width: 990px) and (max-width: 1300px) {
    .contentforms .content {
        max-width: 500px;
        top: 25%;
    }
    .contentforms .texto strong {
        font-size: 18px;
    }
    .contentforms .texto p {
        font-size: 18px;
        line-height: normal;
    }
    .contentforms .texto p strong {
        font-size: 20px;
    }
    .contentforms .content input {
        height: 40px;
        font-size: 18px;
    }
    .contentforms button {
        width: 200px;
        height: 40px;
        font-size: 18px;
    }
}
@media (min-width: 1300px) and (max-width: 1600px) {
    .contentforms .content {
        max-width: 600px;
        top: 25%;
    }
    .contentforms .texto strong {
        font-size: 22x;
    }
    .contentforms .texto p {
        font-size: 22px;
        line-height: normal;
    }
    .contentforms .texto p strong {
        font-size: 24px;
    }
    .contentforms .content input {
        height: 40px;
        font-size: 18px;
    }
    .contentforms button {
        width: 220px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 760px) {
    .contentforms {
        background: url(https://dakota.vtexassets.com/assets/vtex.file-manager-graphql/images/7cc8183d-4863-4f6d-8dcc-2cbb228ff696___881c3d82e32b08ef09a95b0b9bfaa46a.png) no-repeat;
    }
    .contentforms .content {
        max-width: 320px;
        right: auto;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        top: auto;
        bottom: 12%;
    }
    .contentforms .texto strong {
        font-size: 14px;
    }
    .contentforms .texto p {
        font-size: 12px;
        line-height: 20px;
    }
    .contentforms .texto p strong {
        font-size: 16px;
    }
    .contentforms .content input {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
    .contentforms button {
        width: 145px;
        height: 32px;
        font-size: 14px;
    }
    .contentforms .valido {
        font-size: 14px;
        right: auto;
        transform: translate(-50%);
        left: 50%;
        width: 100%;
        text-align: center;
    }
    .contentforms .texto {
        max-width: 250px;
        text-align: center;
        margin: 0 auto;
    }
    .contentforms .textoConcluido p {
        font-size: 14px;
    }
    .contentforms .textoConcluido strong {
        font-size: 14px;
    }
    .contentforms .textoConcluido a {
        font-size: 14px;
        padding: 10px 25px;
    }
    .contentforms .textoConcluido {
        margin-bottom: 100px;
    }
}
