:global(.fale-conosco) {
    max-width: 900px;
}

:global(.fale-conosco) select {
    font-size: 20px;
    border-radius: 2px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
    color: #333;
    display: block;
    margin: 0;
    padding: .5em;
    width: 100%;
    height: 2.5em;
    margin-bottom: 50px;
}

:global(.fale-conosco) input,
:global(.fale-conosco) textarea {
    border-radius: 2px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
    color: #333;
    display: block;
    font-size: .875rem;
    margin: 0;
    padding: .5em;
    width: 100%;
    height: 2.5em;
    margin-bottom: 25px;
    outline: none;
}

:global(.fale-conosco) input::placeholder,
:global(.fale-conosco) textarea::placeholder {
    color: #333;
}

:global(.fale-conosco) button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 11px;
    padding: 8px 15px;
    color: #000;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 1px;
    float: right;
    cursor: pointer;
    font-family: 'Larsseit Regular';
}

:global(.fale-conosco) button:hover {
    color: #fff;
    background-color: #000;
}