.menuContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
}

.menuLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 800;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  color: black;
}

.menuLink:global(.negrito) {
  color: #DB3D68;
}

.openSubmenu .menuLink {
  font-weight: 500;
  text-decoration: unset;
  text-transform: none;
  font-size: 14px;
  font-family: 'Larsseit Regular';
  margin: 0px 0;
  letter-spacing: 0.5px;
}

.titleSubMenu {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Larsseit Extra Bold';
  color: #000;
  letter-spacing: .2px;
  text-decoration: none;
}


.openSubmenu .menuLink a {
  text-decoration: none;
  color: black;
}

.submenuToggleIcon::after {
  content: ">";
  display: block;
  font-size: 16px;
  width: 16px;
  height: 16px;
  font-family: monospace;
  color: #000;
  font-weight: 400;
}

.todosProdutos a {
  font-size: 17px;
  color: #000;
  font-family: 'Larsseit Regular';
  margin: 10px 0;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.close:before {
  content: "<";
  display: block;
  font-size: 16px;
  width: 16px;
  height: 16px;
  font-family: monospace;
  color: #000;
  font-weight: 400;
}

.close span {
  color: #000;
  font-size: 14px;
}

.close {
  position: absolute;
  z-index: 99;
  top: 67px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.submenuContainer {
  position: absolute;
  left: 0;
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-direction: column;
}

.submenuContainer.level-1 {
  display: none;
}

.wrapper {
  list-style: none;
  padding: 0;
  display: block;
  width: 100%;
  margin-top: 85px;
  flex-direction: column;
  display: flex;
  gap: 12px;
}

.wrapper.activeMenuItem .menuItem:not(.activeMenuItem) {
  display: none;
}

.activeMenuItem>p.menuLink {
  display: none;
}

.submenuWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.menuItem {
  border-bottom: 1px solid #EEEEEE;
}

p.menuLink{
  padding: 0 0 2px;
  margin: 0 0 8px;
}

.submenuWrapper.level-2 {
  display: block;
}

.submenuWrapper.level-1 {
  padding: 0;

}

.bannerContainer {
  margin-left: 20px;
  margin-top: 10px;
}

.bannerImage {
  height: auto;
}

.menuContainer {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px;
  margin: 15px 0 0;
}

.submenuContainer {
  position: static;
  flex-direction: column !important;
  padding: 10px 0;
  box-shadow: none;
  width: 100%;
}

.bannerContainer {
  margin-left: 0;
  margin-top: 10px;
  text-align: center;
}

.bannerImage {
  width: 100%;
  max-width: 300px;
}

.submenuWrapper.level-1 {
  display: none;

}

.submenuWrapper.level-1.openSubmenu {
  display: block;

}

.menuLink :global(.underline) {
  text-transform: uppercase;
  font-family: 'Larsseit Bold'
}

.openSubmenu .menuLink a:global(.negrito) {
  font-family: 'Larsseit Medium';
  text-transform: none;
}

.topoMenu {
    display: flex  ;
    width: 100%;
    text-align: center;
    background: white;
    position: absolute;
    top: 0px;
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.linkMenu,
.linkRegister{
  font-family: 'Larsseit Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 15.95px;
  letter-spacing: 10%;
  color: #DB3D68;
  text-decoration: none;
}

.menuMarca{
  background: #EEEEEE;
  padding: 20px 30px;
}

.menuMarcaTitle{
  font-family: 'Larsseit Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 15.95px;
  margin: 0;
  color: #222222;
  text-transform: uppercase;
}

.menuMarcaBox{
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 0;
  gap: 10px;
  justify-content: space-between;
}

.menuMarcaLink{
  width: 100%;
  max-width: 48%;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuMarcaImg{
  max-width: 100%;
  width: 120px;
  height: 80px;
  object-fit: contain;
}


.menuInst{
  padding: 0 30px;
}

.menuInstList{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.menuInstItem{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuToSub{
  flex-direction: column;
  align-items: flex-start;
}

.menuInstSpan{
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Larsseit Medium';
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 15.95px;
  letter-spacing: 10%;
  color: #222222;
}

.menuInstLink{
  font-family: 'Larsseit Medium';
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 15.95px;
  letter-spacing: 10%;
  color: #222222;
  text-decoration: none;
}

.subMenuInstList{
  list-style-type:none;
}

.subMenuInst {
  padding: 0 0 0 30px;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0 0;
  display: none;
}
.activeClass{
  display: flex;
}

.subMenuLink {
  font-family: 'Larsseit Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 15.95px;
  color: #222222;
  text-decoration: none;
}

.subMenuIcon{
  position: relative;
  width: 100%;
  max-width: 15px;
  height: 15px;
  display: flex
;
  align-items: center;
  justify-content: center;
}

.iconPlus,
.iconMinus{
  position: absolute;
  top:0;
  left:0;
}