.ProductVideo {
    width: 100%;
    height: auto;
    display: block;
}

.ProductVideo__iframe {
    width: 100%;
    /*height: 650px;*/
    border: 0;
}

@media (max-width: 760px) {
    .ProductVideo__iframe {
        width: 100%;
        height: auto !important;
        border: 0;
        /*margin: 30px 0;*/
        box-sizing: border-box;
        background: #000;
        min-height: 300px;
    }
    .imageDesktop {
        display: none;
    }
    .blocoSpinner {
        min-height: 400px !important;
    }
}

@media (min-width: 990px) {
    .imageMobile {
        display: none;
    }
}


.blocoSpinner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}