body {
  padding-bottom: 0px !important;
}
body .item-remove-ico {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  body .item-remove-ico {
    text-align: center;
  }
}
body .cart-active .summary-template-holder::before {
  content: "Resumo";
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 27px;
  margin: 0;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  display: block;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  body .cart-active .summary-template-holder::before {
    text-align: center;
  }
}
body .cart-template-holder .cart::before {
  content: "Meu carrinho";
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 27px;
  margin: 0;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  display: block;
  margin-bottom: 30px;
}
body .table.cart-items i.icon.icon-remove.item-remove-ico:before {
  width: 7px;
  height: 21px;
}
body #cart-coupon-add {
  width: 81px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  margin: 0;
  height: 35px;
  line-height: 20px;
}
body .coupon-column .summary-coupon .coupon-form .coupon-fieldset .coupon-label {
  display: block !important;
  margin-bottom: 6px;
}
body .coupon-column .summary-coupon .coupon-form .coupon-fieldset .coupon-label label {
  font-size: 15px;
  color: black;
  text-align: left;
  font-weight: 500;
}
body #shipping-preview-container {
  max-width: 100%;
  margin-bottom: 20px;
}
body #shipping-preview-container .srp-data.mt4 {
  margin-top: 0;
}
body #shipping-preview-container .srp-main-title {
  font-size: 15px;
  color: black;
  text-align: left;
  line-height: 16px;
  font-weight: 500;
}
body #cart-coupon {
  margin: 0;
  display: block;
  width: 100%;
  height: 35px;
  background: #e6e6e6;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}
body .vtex-shipping-preview-0-x-pc .vtex-shipping-preview-0-x-postalCodeForgotten {
  align-items: flex-start;
}
body .vtex-shipping-preview-0-x-pc .srp-postal-code__form {
  width: 100%;
}
body .vtex-shipping-preview-0-x-pc #cart-shipping-calculate {
  width: 81px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  margin: 0;
  height: 35px;
}
body .vtex-shipping-preview-0-x-pc .ship-postalCode {
  display: block;
  width: calc(100% - 81px);
}
body .vtex-shipping-preview-0-x-pc .ship-postalCode span.help.error {
  display: none;
}
body .vtex-shipping-preview-0-x-pc .ship-postalCode label {
  display: none;
}
body .vtex-shipping-preview-0-x-pc .ship-postalCode small a {
  color: #a5a5a5;
  text-decoration: underline;
  font-size: 12px;
}
body .vtex-shipping-preview-0-x-pc .ship-postalCode #ship-postalCode {
  display: block;
  width: 100%;
  height: 35px;
  background: #e6e6e6;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}
body .orderform-template .cart-template.mini-cart .summary-template-holder .summary > .summary-coupon-wrap {
  padding: 20px 0;
}
body .orderform-template-holder .step .submit.btn.btn-success {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.header-topo {
  background: #be3f66;
  max-width: unset;
  padding: 0 40px;
  height: 90px;
}
.header-topo svg {
  width: 170px;
  height: auto;
}
.header-topo svg path {
  fill: #fff;
}
.header-topo .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 6px;
  align-items: center;
}
.header-topo .content .logo-topo {
  width: calc(50% + 85px);
  text-align: right;
  position: relative;
  top: 15px;
}
.header-topo .content .right-items {
  width: calc(40% - 85px);
  position: relative;
  top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-topo .content .right-items a {
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 16px;
}

.diferenciais .slider .item svg {
  height: 48px;
  width: 60px;
  margin-right: 28px;
}

.middle-footer-blk {
  background-color: #eee;
}
.middle-footer-blk .content {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.middle-footer-blk .content .shields {
  margin-top: 42px;
}
.middle-footer-blk .content .copyright {
  padding: 15px;
}
.middle-footer-blk .content .copyright p {
  color: #5b5b5b;
  font-size: 10pt;
  line-height: 21px;
  letter-spacing: 0.4px;
  margin: 0px;
  font-weight: normal;
}
.middle-footer-blk .content .btncentral {
  width: 170px;
  font-size: 11px;
  height: 28px;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  cursor: pointer;
  text-decoration: none;
}

.table.cart-items tbody tr {
  border-top: none;
  border-bottom: 1px solid black;
}

#cart-to-orderform {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
}

.checkout-container {
  margin-top: 50px;
}

.table.cart-items tbody tr td.quantity {
  position: relative;
}
.table.cart-items tbody tr td.quantity .item-multiplier-label {
  position: absolute;
  bottom: -27px;
  font-weight: 600;
}

body.body-cart {
  background: white;
}

@media (max-width: 768px) {
  body .orderform-template .custom-cart-template-wrap .summary-cart-template-holder {
    margin-bottom: 40px;
  }
  body .summary-template-holder .cart-links-bottom {
    position: relative;
  }
  body .cart-more-options.span7 {
    display: none !important;
  }
  .header-topo {
    height: 70px;
  }
  .header-topo .content {
    justify-content: center;
  }
  .header-topo .content .right-items {
    display: none;
  }
  .header-topo .content .logo-topo {
    width: 40%;
  }
  .header-topo .content .logo-topo svg {
    width: 100%;
  }
  .middle-footer-blk {
    background: white;
  }
  .middle-footer-blk .content .shields {
    order: 1;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .middle-footer-blk .content .copyright p {
    text-align: center;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */