@font-face {
  font-family: 'Averta';
  src: url('assets/fonts/AvertaStd-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adrianna';
  src: url('assets/fonts/AdriannaExtended-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit Regular';
  src: url('assets/fonts/larsseit.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit Thin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('assets/fonts/LarsseitThin .woff') format('woff');
}

@font-face {
  font-family: 'Larsseit Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/LarsseitMedium.woff') format('woff');
}

@font-face {
  font-family: 'Larsseit Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/LarsseitBold.woff') format('woff');
}


@font-face {
  font-family: 'Larsseit Extra Bold';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/LarsseitExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'BebasNeue Regular';
  src: url('assets/fonts/bebasneue-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('assets/fonts/Inter-Light.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/Inter-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Inter-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Atyp Display TRIAL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/AtypDisplayTRIAL-Light-BF65727125c722b.otf');
}

@font-face {
  font-family: 'Atyp Display TRIAL';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/AtypDisplayTRIAL-Regular-BF65727125d566e.otf');
}

@font-face {
  font-family: 'Atyp Display TRIAL';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/AtypDisplayTRIAL-Medium-BF65727125b8683.otf');
}

@font-face {
  font-family: 'Atyp Display TRIAL';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/AtypDisplayTRIAL-Semibold-BF65727125c6fc9.otf');
}


@font-face {
  font-family: 'Atyp Display TRIAL';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/AtypDisplayTRIAL-Bold-BF65727125c8d1d.otf');
}
