:global(.guia-tamanhos) {
    background-color: #fff;
    box-shadow: 0 0 3em #d6d6d6;
} 

:global(.guia-tamanhos) :global(.tabelas) table {
    margin: auto;
    border-collapse: collapse;
    color: #454545;
    text-align: center;
    font-size: .75rem;
}

:global(.guia-tamanhos) :global(.tabelas) table :global(.background-cinza) {
    background-color: #ececec; 
}

:global(.guia-tamanhos) :global(.tabelas) table td,
:global(.guia-tamanhos) :global(.tabelas) table th {  
    padding: 8px;
    font-size: 14px;
}

:global(.guia-tamanhos) :global(.informacoes-guia) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
}

:global(.guia-tamanhos) :global(.informacoes-guia) p {
    font-size: 0.8rem;
    margin: 2.5rem 0.5rem;
    text-align: left;
    color: #555;
    line-height: 20px;
}

:global(.guia-tamanhos) :global(.informacoes-guia) p b {
    font-weight: 900;
}

:global(.guia-tamanhos) :global(.informacoes-guia) img {
    padding-right: 30px;
} 

:global(.guia-tamanhos) :global(.border) {
    border: 1px solid #cecece;
}

:global(.guia-tamanhos) :global(.spanTitle) {
    width: 100%;
    display: block;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
}
:global(.guia-tamanhos) :global(.spanSub) {
    width: 100%;
    display: block;
    text-align: left;
    line-height: 22px;
}
:global(.guia-tamanhos) :global(.tabelas) {
    padding: 20px;
    position: relative;
}
:global(.guia-tamanhos) h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
:global(.guia-tamanhos) h6 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
}

:global(.guia-tamanhos) :global(.contentLembramos) {
    position: absolute;
    bottom: 100px;
    right: 70px;
    max-width: 450px;
}

:global(.guia-tamanhos) :global(.lembramos) {
    font-size: 14px;
    line-height: 22px;
    color: #555;
    display: block;
}
:global(.guia-tamanhos) :global(.first) {
    margin-bottom: 15px;
}

:global(.guia-tamanhos) :global(.lembramos) a {
    color: #454545;
}